@include keyframes(q1-title) {
	0%, 19% {
		width: 0;
	}

	20%, 39% {
		width: 37px;
	}

	40%, 59% {
		width: 70px;
	}

	60%, 79% {
		width: 108px;
	}

	80%, 99% {
		width: 146px;
	}

	100% {
		width: 166px;
	}
}

@include keyframes(wink-girl) {
	65%, 75% {
		background-position: -151px 0;
	}

	70% {
		background-position: 0 0;
	}
}

@include keyframes(wink-boy) {
	65%, 75% {
		background-position: -148px 0;
	}

	70% {
		background-position: 0 0;
	}
}

@include keyframes(bow-girl) {
	0% {
		background-position: -151px 0;
	}

	100% {
		background-position: -1812px 0;
	}
}

@include keyframes(reverse-girl) {
	0% {
		background-position: -1812px 0;
	}

	100% {
		background-position: -151px 0;
	}
}

@include keyframes(transition-girl) {
	0% {
		background-position: -1812px 0;
	}

	100% {
		background-position: -3473px 0;
	}
}

@include keyframes(bow-boy) {
	0% {
		background-position: -148px 0;
	}

	100% {
		background-position: -1036px 0;
	}
}

@include keyframes(reverse-boy) {
	0% {
		background-position: -1036px 0;
	}

	100% {
		background-position: -148px 0;
	}
}

@include keyframes(flipout-door) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -9715px 0;
	}
}