@include keyframes(q10-title) {
	0%, 7.9% {
		width: 0;
	}

	8%, 15.9% {
		width: 36px;
	}

	16%, 23.9% {
		width: 57px;
	}

	24%, 31.9% {
		width: 85px;
	}

	32%, 39.9% {
		width: 108px;
	}

	40%, 47.9% {
		width: 146px;
	}

	48%, 63.9% {
		width: 200px;
	}

	64%, 71.9% {
		width: 226px;
	}

	72%, 79.9% {
		width: 256px;
	}

	80%, 87.9% {
		width: 291px;
	}

	88%, 95.9% {
		width: 329px;
	}

	96%, 99.9% {
		width: 368px;
	}

	100% {
		width: 419px;
	}
}

@include keyframes(q10-ani-healthcare) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -8358px 0;
	}
}

@include keyframes(q10-ani-healthcare-reverse) {
	0% {
		background-position: -8358px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q10-ani-double) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -8475px 0;
	}
}

@include keyframes(q10-ani-double-reverse) {
	0% {
		background-position: -8475px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q10-ani-single) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6052px 0;
	}
}

@include keyframes(q10-ani-single-reverse) {
	0% {
		background-position: -6052px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q10-ani-principal) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -9116px 0;
	}
}

@include keyframes(q10-ani-principal-reverse) {
	0% {
		background-position: -9116px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q10-ani-vip) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -11550px 0;
	}
}

@include keyframes(q10-ani-vip-reverse) {
	0% {
		background-position: -11550px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q10-ani-best) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -20265px 0;
	}
}

@include keyframes(q10-ani-best-reverse) {
	0% {
		background-position: -20265px 0;
	}

	100% {
		background-position: 0 0;
	}
}