@include keyframes(q10-title) {
	0%, 7.9% {
		width: 0;
	}

	8%, 15.9% {
		width: 36px;
	}

	16%, 23.9% {
		width: 57px;
	}

	24%, 31.9% {
		width: 85px;
	}

	32%, 39.9% {
		width: 108px;
	}

	40%, 47.9% {
		width: 146px;
	}

	48%, 63.9% {
		width: 200px;
	}

	64%, 71.9% {
		width: 226px;
	}

	72%, 79.9% {
		width: 256px;
	}

	80%, 87.9% {
		width: 291px;
	}

	88%, 95.9% {
		width: 329px;
	}

	96%, 99.9% {
		width: 368px;
	}

	100% {
		width: 419px;
	}
}