@include keyframes(q20-title) {
	0%, 2.77% {
		width: 18px;
	}

	2.78%, 8.32% {
		width: 45px;
	}

	8.33%, 13.88% {
		width: 72px;
	}

	13.89%, 19.44% {
		width: 108px;
	}

	19.45%, 25% {
		width: 143px;
	}

	25.01%, 30.56% {
		width: 175px;
	}

	30.57%, 36.12% {
		width: 217px;
	}

	36.13%, 41.68% {
		width: 254px;
	}

	41.69%, 47.24% {
		width: 285px;
	}

	47.25%, 52.8% {
		width: 327px;
	}

	52.81%, 63.92% {
		width: 346px;
	}

	63.93%, 69.48% {
		width: 381px;
	}

	69.49%, 75.04% {
		width: 407px;
	}

	75.05%, 80.6% {
		width: 430px;
	}

	80.61%, 86.16% {
		width: 457px;
	}

	86.17%, 91.65% {
		width: 484px;
	}

	91.66%, 97.21% {
		width: 502px;
	}

	97.22%, 99.9% {
		width: 538px;
	}

	100% {
		width: 569px;
	}
}

@include keyframes(q20-college) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -3020px 0;
	}
}

@include keyframes(q20-college-0-t-1) {
	0% {
		background-position: -3322px 0;
	}

	100% {
		background-position: -11778px 0;
	}
}

@include keyframes(q20-college-1-t-0) {
	0% {
		background-position: -11778px 0;
	}

	100% {
		background-position: -3322px 0;
	}
}

@include keyframes(q20-college-1-t-2) {
	0% {
		background-position: -12080px 0;
	}

	100% {
		background-position: -19328px 0;
	}
}

@include keyframes(q20-college-2-t-1) {
	0% {
		background-position: -19328px 0;
	}

	100% {
		background-position: -12080px 0;
	}
}

@include keyframes(q20-kid-1-wink) {
	0%, 5%, 13%, 100% {
		background-position: 0 0;
	}

	6%, 12% {
		background-position: -110px 0;
	}
}

@include keyframes(q20-kid-2-wink) {
	0%, 17%, 25%, 100% {
		background-position: -220px 0;
	}

	18%, 24% {
		background-position: -358px 0;
	}
}

@include keyframes(q20-kid-3-wink) {
	0%, 44%, 52%, 100% {
		background-position: -496px 0;
	}

	45%, 51% {
		background-position: -625px 0;
	}
}

@include keyframes(q20-kid-4-wink) {
	0%, 66%, 74%, 100% {
		background-position: -754px 0;
	}

	67%, 73% {
		background-position: -881px 0;
	}
}

@include keyframes(q20-money-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6720px 0;
	}
}

@include keyframes(q20-money-1-t-0) {
	0% {
		background-position: -6720px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q20-money-1-t-2) {
	0% {
		background-position: -7000px 0;
	}

	100% {
		background-position: -13720px 0;
	}
}

@include keyframes(q20-money-2-t-1) {
	0% {
		background-position: -13720px 0;
	}

	100% {
		background-position: -7000px 0;
	}
}

@include keyframes(q20-money-2-t-3) {
	0% {
		background-position: -14000px 0;
	}

	100% {
		background-position: -20440px 0;
	}
}

@include keyframes(q20-money-3-t-2) {
	0% {
		background-position: -20440px 0;
	}

	100% {
		background-position: -14000px 0;
	}
}

@include keyframes(q20-money-3-t-4) {
	0% {
		background-position: -20720px 0;
	}

	100% {
		background-position: -27440px 0;
	}
}

@include keyframes(q20-money-4-t-3) {
	0% {
		background-position: -27440px 0;
	}

	100% {
		background-position: -20720px 0;
	}
}