@include keyframes(q20-title) {
	0%, 2.77% {
		width: 18px;
	}

	2.78%, 8.32% {
		width: 45px;
	}

	8.33%, 13.88% {
		width: 72px;
	}

	13.89%, 19.44% {
		width: 108px;
	}

	19.45%, 25% {
		width: 143px;
	}

	25.01%, 30.56% {
		width: 175px;
	}

	30.57%, 36.12% {
		width: 217px;
	}

	36.13%, 41.68% {
		width: 254px;
	}

	41.69%, 47.24% {
		width: 285px;
	}

	47.25%, 52.8% {
		width: 327px;
	}

	52.81%, 63.92% {
		width: 346px;
	}

	63.93%, 69.48% {
		width: 381px;
	}

	69.49%, 75.04% {
		width: 407px;
	}

	75.05%, 80.6% {
		width: 430px;
	}

	80.61%, 86.16% {
		width: 457px;
	}

	86.17%, 91.65% {
		width: 484px;
	}

	91.66%, 97.21% {
		width: 502px;
	}

	97.22%, 99.9% {
		width: 538px;
	}

	100% {
		width: 569px;
	}
}