@include keyframes(q22-choose-buycar) {
	0% {
		background-position: -1870px 0;
	}

	100% {
		background-position: -9163px 0;
	}
}

@include keyframes(q22-drop-tree) {
	0% {
		background-position: -2646px 0;
	}

	100% {
		background-position: -10290px 0;
	}
}

@include keyframes(q22-car-0-t-1) {
	0% {
		background-position: -9724px 0;
	}

	100% {
		background-position: -16643px 0;
	}
}

@include keyframes(q22-car-1-t-2) {
	0% {
		background-position: -17952px 0;
	}

	100% {
		background-position: -19074px 0;
	}
}

@include keyframes(q22-car-2-t-3) {
	0% {
		background-position: -26180px 0;
	}

	100% {
		background-position: -27302px 0;
	}
}

@include keyframes(q22-car-3-t-4) {
	0% {
		background-position: -7215px -149px;
	}

	100% {
		background-position: -8385px -149px;
	}
}

@include keyframes(q22-house-0-t-1) {
	0% {
		background-position: -4788px 0;
	}

	100% {
		background-position: -8550px 0;
	}
}

@include keyframes(q22-house-1-t-2) {
	0% {
		background-position: -9918px 0;
	}

	100% {
		background-position: -13680px 0;
	}
}

@include keyframes(q22-house-2-t-3) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-0-t-1) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-1-t-2) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-2-t-3) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-3-t-4) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-job-0-t-1) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-job-1-t-2) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-job-2-t-3) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-job-3-t-4) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-travel-0-t-1) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-travel-1-t-2) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-travel-2-t-3) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-travel-3-t-4) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-travel-4-t-5) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-marry-0-t-1) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-marry-1-t-2) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-marry-2-t-3) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-marry-3-t-4) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-marry-4-t-5) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-marry-5-t-6) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}