@include keyframes(q22-choose-buycar) {
	0% {
		background-position: -1870px 0;
	}

	100% {
		background-position: -9163px 0;
	}
}

@include keyframes(q22-drop-tree) {
	0% {
		background-position: -2646px 0;
	}

	100% {
		background-position: -10290px 0;
	}
}

@include keyframes(q22-car-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -3900px 0;
	}
}

@include keyframes(q22-car-1-t-2) {
	0% {
		background-position: -4095px 0;
	}

	100% {
		background-position: -7995px 0;
	}
}

@include keyframes(q22-car-2-t-3) {
	0% {
		background-position: -8190px 0;
	}

	100% {
		background-position: -11895px 0;
	}
}

@include keyframes(q22-car-3-t-4) {
	0% {
		background-position: -12090px 0;
	}

	100% {
		background-position: -15795px 0;
	}
}

@include keyframes(q22-car-1-t-0) {
	0% {
		background-position: -3900px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-car-2-t-1) {
	0% {
		background-position: -7995px 0;
	}

	100% {
		background-position: -4095px 0;
	}
}

@include keyframes(q22-car-3-t-2) {
	0% {
		background-position: -11895px 0;
	}

	100% {
		background-position: -8190px 0;
	}
}

@include keyframes(q22-car-4-t-3) {
	0% {
		background-position: -15795px 0;
	}

	100% {
		background-position: -12090px 0;
	}
}

@include keyframes(q22-car-move-1) {
	0% {
		background-position: -1365px 0;
	}

	100% {
		background-position: -3900px 0;
	}
}

@include keyframes(q22-car-move-2) {
	0% {
		background-position: -5265px 0;
	}

	100% {
		background-position: -7995px 0;
	}
}

@include keyframes(q22-car-move-3) {
	0% {
		background-position: -9360px 0;
	}

	100% {
		background-position: -11895px 0;
	}
}

@include keyframes(q22-car-move-4) {
	0% {
		background-position: -13260px 0;
	}

	100% {
		background-position: -15795px 0;
	}
}

@include keyframes(q22-bike-color-0-t-1) {
	0%, 99.99% {
		background-position: 0 98px;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-bike-color-1-t-2) {
	0%, 99.99% {
		background-position: 0 0;
	}

	100% {
		background-position: -193px 0;
	}
}

@include keyframes(q22-bike-color-2-t-3) {
	0%, 99.99% {
		background-position: -193px 0;
	}

	100% {
		background-position: -386px 0;
	}
}

@include keyframes(q22-bike-color-3-t-4) {
	0%, 99.99% {
		background-position: -386px 0;
	}

	100% {
		background-position: -579px 0;
	}
}

@include keyframes(q22-bike-color-4-t-5) {
	0%, 99.99% {
		background-position: -579px 0;
	}

	100% {
		background-position: -772px 0;
	}
}

@include keyframes(q22-bike-color-1-t-0) {
	0%, 99.99% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 98px;
	}
}

@include keyframes(q22-bike-color-2-t-1) {
	0%, 99.99% {
		background-position: -193px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-bike-color-3-t-2) {
	0%, 99.99% {
		background-position: -386px 0;
	}

	100% {
		background-position: -193px 0;
	}
}

@include keyframes(q22-bike-color-4-t-3) {
	0%, 99.99% {
		background-position: -579px 0;
	}

	100% {
		background-position: -386px 0;
	}
}

@include keyframes(q22-bike-color-5-t-4) {
	0%, 99.99% {
		background-position: -772px 0;
	}

	100% {
		background-position: -579px 0;
	}
}

@include keyframes(q22-moto-color-0-t-1) {
	0%, 99.99% {
		background-position: -965px 98px;
	}

	100% {
		background-position: -965px 0;
	}
}

@include keyframes(q22-moto-color-1-t-2) {
	0%, 99.99% {
		background-position: -965px 0;
	}

	100% {
		background-position: -1158px 0;
	}
}

@include keyframes(q22-moto-color-2-t-3) {
	0%, 99.99% {
		background-position: -1158px 0;
	}

	100% {
		background-position: -1351px 0;
	}
}

@include keyframes(q22-moto-color-3-t-4) {
	0%, 99.99% {
		background-position: -1351px 0;
	}

	100% {
		background-position: -1544px 0;
	}
}

@include keyframes(q22-moto-color-4-t-5) {
	0%, 99.99% {
		background-position: -1544px 0;
	}

	100% {
		background-position: -1737px 0;
	}
}

@include keyframes(q22-moto-color-1-t-0) {
	0%, 99.99% {
		background-position: -965px 0;
	}

	100% {
		background-position: -965px 98px;
	}
}

@include keyframes(q22-moto-color-2-t-1) {
	0%, 99.99% {
		background-position: -1158px 0;
	}

	100% {
		background-position: -965px 0;
	}
}

@include keyframes(q22-moto-color-3-t-2) {
	0%, 99.99% {
		background-position: -1351px 0;
	}

	100% {
		background-position: -1158px 0;
	}
}

@include keyframes(q22-moto-color-4-t-3) {
	0%, 99.99% {
		background-position: -1544px 0;
	}

	100% {
		background-position: -1351px 0;
	}
}

@include keyframes(q22-moto-color-5-t-4) {
	0%, 99.99% {
		background-position: -1737px 0;
	}

	100% {
		background-position: -1544px 0;
	}
}

@include keyframes(q22-car-color-0-t-1) {
	0%, 99.99% {
		background-position: -1930px 98px;
	}

	100% {
		background-position: -1930px 0;
	}
}

@include keyframes(q22-car-color-1-t-2) {
	0%, 99.99% {
		background-position: -1930px 0;
	}

	100% {
		background-position: -2123px 0;
	}
}

@include keyframes(q22-car-color-2-t-3) {
	0%, 99.99% {
		background-position: -2123px 0;
	}

	100% {
		background-position: -2316px 0;
	}
}

@include keyframes(q22-car-color-3-t-4) {
	0%, 99.99% {
		background-position: -2316px 0;
	}

	100% {
		background-position: -2509px 0;
	}
}

@include keyframes(q22-car-color-4-t-5) {
	0%, 99.99% {
		background-position: -2509px 0;
	}

	100% {
		background-position: -2702px 0;
	}
}

@include keyframes(q22-car-color-1-t-0) {
	0%, 99.99% {
		background-position: -1930px 0;
	}

	100% {
		background-position: -1930px 98px;
	}
}

@include keyframes(q22-car-color-2-t-1) {
	0%, 99.99% {
		background-position: -2123px 0;
	}

	100% {
		background-position: -1930px 0;
	}
}

@include keyframes(q22-car-color-3-t-2) {
	0%, 99.99% {
		background-position: -2316px 0;
	}

	100% {
		background-position: -2123px 0;
	}
}

@include keyframes(q22-car-color-4-t-3) {
	0%, 99.99% {
		background-position: -2509px 0;
	}

	100% {
		background-position: -2316px 0;
	}
}

@include keyframes(q22-car-color-5-t-4) {
	0%, 99.99% {
		background-position: -2702px 0;
	}

	100% {
		background-position: -2509px 0;
	}
}

@include keyframes(q22-rv-color-0-t-1) {
	0%, 99.99% {
		background-position: -2895px 98px;
	}

	100% {
		background-position: -2895px 0;
	}
}

@include keyframes(q22-rv-color-1-t-2) {
	0%, 99.99% {
		background-position: -2895px 0;
	}

	100% {
		background-position: -3088px 0;
	}
}

@include keyframes(q22-rv-color-2-t-3) {
	0%, 99.99% {
		background-position: -3088px 0;
	}

	100% {
		background-position: -3281px 0;
	}
}

@include keyframes(q22-rv-color-3-t-4) {
	0%, 99.99% {
		background-position: -3281px 0;
	}

	100% {
		background-position: -3474px 0;
	}
}

@include keyframes(q22-rv-color-4-t-5) {
	0%, 99.99% {
		background-position: -3474px 0;
	}

	100% {
		background-position: -3667px 0;
	}
}

@include keyframes(q22-rv-color-1-t-0) {
	0%, 99.99% {
		background-position: -2895px 0;
	}

	100% {
		background-position: -2895px 98px;
	}
}

@include keyframes(q22-rv-color-2-t-1) {
	0%, 99.99% {
		background-position: -3088px 0;
	}

	100% {
		background-position: -2895px 0;
	}
}

@include keyframes(q22-rv-color-3-t-2) {
	0%, 99.99% {
		background-position: -3281px 0;
	}

	100% {
		background-position: -3088px 0;
	}
}

@include keyframes(q22-rv-color-4-t-3) {
	0%, 99.99% {
		background-position: -3474px 0;
	}

	100% {
		background-position: -3281px 0;
	}
}

@include keyframes(q22-rv-color-5-t-4) {
	0%, 99.99% {
		background-position: -3667px 0;
	}

	100% {
		background-position: -3474px 0;
	}
}

@include keyframes(q22-racing-color-0-t-1) {
	0%, 99.99% {
		background-position: -3860px 98px;
	}

	100% {
		background-position: -3860px 0;
	}
}

@include keyframes(q22-racing-color-1-t-2) {
	0%, 99.99% {
		background-position: -3860px 0;
	}

	100% {
		background-position: -4053px 0;
	}
}

@include keyframes(q22-racing-color-2-t-3) {
	0%, 99.99% {
		background-position: -4053px 0;
	}

	100% {
		background-position: -4246px 0;
	}
}

@include keyframes(q22-racing-color-3-t-4) {
	0%, 99.99% {
		background-position: -4246px 0;
	}

	100% {
		background-position: -4439px 0;
	}
}

@include keyframes(q22-racing-color-4-t-5) {
	0%, 99.99% {
		background-position: -4439px 0;
	}

	100% {
		background-position: -4632px 0;
	}
}

@include keyframes(q22-racing-color-1-t-0) {
	0%, 99.99% {
		background-position: -3860px 0;
	}

	100% {
		background-position: -3860px 98px;
	}
}

@include keyframes(q22-racing-color-2-t-1) {
	0%, 99.99% {
		background-position: -4053px 0;
	}

	100% {
		background-position: -3860px 0;
	}
}

@include keyframes(q22-racing-color-3-t-2) {
	0%, 99.99% {
		background-position: -4246px 0;
	}

	100% {
		background-position: -4053px 0;
	}
}

@include keyframes(q22-racing-color-4-t-3) {
	0%, 99.99% {
		background-position: -4439px 0;
	}

	100% {
		background-position: -4246px 0;
	}
}

@include keyframes(q22-racing-color-5-t-4) {
	0%, 99.99% {
		background-position: -4632px 0;
	}

	100% {
		background-position: -4439px 0;
	}
}

@include keyframes(q22-moto-wheel-before) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -92px;
	}
}

@include keyframes(q22-moto-wheel-after) {
	0% {
		background-position: -46px 0;
	}

	100% {
		background-position: -46px -92px;
	}
}

@include keyframes(q22-car-wheel-before) {
	0% {
		background-position: -90px 0;
	}

	100% {
		background-position: -90px -92px;
	}
}

@include keyframes(q22-car-wheel-after) {
	0% {
		background-position: -119px 0;
	}

	100% {
		background-position: -119px -92px;
	}
}

@include keyframes(q22-rv-wheel-before) {
	0% {
		background-position: -148px 0;
	}

	100% {
		background-position: -148px -92px;
	}
}

@include keyframes(q22-rv-wheel-after) {
	0% {
		background-position: -177px 0;
	}

	100% {
		background-position: -177px -92px;
	}
}

@include keyframes(q22-racing-wheel-before) {
	0% {
		background-position: -206px 0;
	}

	100% {
		background-position: -206px -92px;
	}
}

@include keyframes(q22-racing-wheel-after) {
	0% {
		background-position: -241px 0;
	}

	100% {
		background-position: -241px -92px;
	}
}

@include keyframes(q22-cottage-color-0-t-1) {
	0%, 99.99% {
		background-position: 342px 0;
	}

	100% {
		background-position: -2052px 0;
	}
}

@include keyframes(q22-cottage-color-1-t-2) {
	0%, 99.99% {
		background-position: -2394px 0;
	}

	100% {
		background-position: -3762px 0;
	}
}

@include keyframes(q22-cottage-color-2-t-3) {
	0%, 99.99% {
		background-position: -4104px 0;
	}

	100% {
		background-position: -5472px 0;
	}
}

@include keyframes(q22-cottage-color-3-t-4) {
	0%, 99.99% {
		background-position: -5814px 0;
	}

	100% {
		background-position: -7182px 0;
	}
}

@include keyframes(q22-cottage-color-4-t-5) {
	0%, 99.99% {
		background-position: -7524px 0;
	}

	100% {
		background-position: -8550px 0;
	}
}

@include keyframes(q22-cottage-color-1-t-0) {
	0%, 99.99% {
		background-position: -2052px 0;
	}

	100% {
		background-position: 342px 0;
	}
}

@include keyframes(q22-cottage-color-2-t-1) {
	0%, 99.99% {
		background-position: -3762px 0;
	}

	100% {
		background-position: -2394px 0;
	}
}

@include keyframes(q22-cottage-color-3-t-2) {
	0%, 99.99% {
		background-position: -5472px 0;
	}

	100% {
		background-position: -4104px 0;
	}
}

@include keyframes(q22-cottage-color-4-t-3) {
	0%, 99.99% {
		background-position: -7182px 0;
	}

	100% {
		background-position: -5814px 0;
	}
}

@include keyframes(q22-cottage-color-5-t-4) {
	0%, 99.99% {
		background-position: -8550px 0;
	}

	100% {
		background-position: -7524px 0;
	}
}

@include keyframes(q22-cabin-color-0-t-1) {
	0%, 99.99% {
		background-position: -8892px 0;
	}

	100% {
		background-position: -10944px 0;
	}
}

@include keyframes(q22-cabin-color-1-t-2) {
	0%, 99.99% {
		background-position: -11286px 0;
	}

	100% {
		background-position: -12654px 0;
	}
}

@include keyframes(q22-cabin-color-2-t-3) {
	0%, 99.99% {
		background-position: -12996px 0;
	}

	100% {
		background-position: -14364px 0;
	}
}

@include keyframes(q22-cabin-color-3-t-4) {
	0%, 99.99% {
		background-position: -14706px 0;
	}

	100% {
		background-position: -16074px 0;
	}
}

@include keyframes(q22-cabin-color-4-t-5) {
	0%, 99.99% {
		background-position: -16416px 0;
	}

	100% {
		background-position: -17442px 0;
	}
}

@include keyframes(q22-cabin-color-1-t-0) {
	0%, 99.99% {
		background-position: -10944px 0;
	}

	100% {
		background-position: -8892px 0;
	}
}

@include keyframes(q22-cabin-color-2-t-1) {
	0%, 99.99% {
		background-position: -12654px 0;
	}

	100% {
		background-position: -11286px 0;
	}
}

@include keyframes(q22-cabin-color-3-t-2) {
	0%, 99.99% {
		background-position: -14364px 0;
	}

	100% {
		background-position: -12996px 0;
	}
}

@include keyframes(q22-cabin-color-4-t-3) {
	0%, 99.99% {
		background-position: -16074px 0;
	}

	100% {
		background-position: -14706px 0;
	}
}

@include keyframes(q22-cabin-color-5-t-4) {
	0%, 99.99% {
		background-position: -17442px 0;
	}

	100% {
		background-position: -16416px 0;
	}
}

@include keyframes(q22-luxury-color-0-t-1) {
	0%, 99.99% {
		background-position: -17784px 0;
	}

	100% {
		background-position: -19836px 0;
	}
}

@include keyframes(q22-luxury-color-1-t-2) {
	0%, 99.99% {
		background-position: -20178px 0;
	}

	100% {
		background-position: -21546px 0;
	}
}

@include keyframes(q22-luxury-color-2-t-3) {
	0%, 99.99% {
		background-position: -21888px 0;
	}

	100% {
		background-position: -23256px 0;
	}
}

@include keyframes(q22-luxury-color-3-t-4) {
	0%, 99.99% {
		background-position: -23598px 0;
	}

	100% {
		background-position: -24966px 0;
	}
}

@include keyframes(q22-luxury-color-4-t-5) {
	0%, 99.99% {
		background-position: -25308px 0;
	}

	100% {
		background-position: -26334px 0;
	}
}

@include keyframes(q22-luxury-color-1-t-0) {
	0%, 99.99% {
		background-position: -19836px 0;
	}

	100% {
		background-position: -17784px 0;
	}
}

@include keyframes(q22-luxury-color-2-t-1) {
	0%, 99.99% {
		background-position: -21546px 0;
	}

	100% {
		background-position: -20178px 0;
	}
}

@include keyframes(q22-luxury-color-3-t-2) {
	0%, 99.99% {
		background-position: -23256px 0;
	}

	100% {
		background-position: -21888px 0;
	}
}

@include keyframes(q22-luxury-color-4-t-3) {
	0%, 99.99% {
		background-position: -24966px 0;
	}

	100% {
		background-position: -23598px 0;
	}
}

@include keyframes(q22-luxury-color-5-t-4) {
	0%, 99.99% {
		background-position: -26334px 0;
	}

	100% {
		background-position: -25308px 0;
	}
}

@include keyframes(q22-study-f-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -24090px 0;
	}
}

@include keyframes(q22-study-f-0-t-2) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -31317px 0;
	}
}

@include keyframes(q22-study-f-0-t-3) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -22484px 0;
	}
}

@include keyframes(q22-study-f-0-t-4) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -28105px 0;
	}
}

@include keyframes(q22-study-f-0-t-5) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -24090px 0;
	}
}

@include keyframes(q22-study-f-0-t-6) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -23287px 0;
	}
}

@include keyframes(q22-study-f-1-t-0) {
	0% {
		background-position: -24090px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-f-2-t-0) {
	0% {
		background-position: -31317px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-f-3-t-0) {
	0% {
		background-position: -22484px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-f-4-t-0) {
	0% {
		background-position: -28105px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-f-5-t-0) {
	0% {
		background-position: -24090px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-f-6-t-0) {
	0% {
		background-position: -23287px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-m-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -15276px 0;
	}
}

@include keyframes(q22-study-m-0-t-2) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -16926px 0;
	}
}

@include keyframes(q22-study-m-0-t-3) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -16884px 0;
	}
}

@include keyframes(q22-study-m-0-t-4) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -17688px 0;
	}
}

@include keyframes(q22-study-m-0-t-5) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -17688px 0;
	}
}

@include keyframes(q22-study-m-0-t-6) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -17688px 0;
	}
}

@include keyframes(q22-study-m-1-t-0) {
	0% {
		background-position: -15276px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-m-2-t-0) {
	0% {
		background-position: -16926px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-m-3-t-0) {
	0% {
		background-position: -16884px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-m-4-t-0) {
	0% {
		background-position: -17688px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-m-5-t-0) {
	0% {
		background-position: -17688px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-m-6-t-0) {
	0% {
		background-position: -17688px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-flag-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6684px 0;
	}
}

@include keyframes(q22-study-flag-0-t-2) {
	0% {
		background-position: -7241px 0;
	}

	100% {
		background-position: -14482px 0;
	}
}

@include keyframes(q22-study-flag-0-t-3) {
	0% {
		background-position: -15039px 0;
	}

	100% {
		background-position: -22837px 0;
	}
}

@include keyframes(q22-study-flag-0-t-4) {
	0% {
		background-position: 0 -497px;
	}

	100% {
		background-position: -7798px -497px;
	}
}

@include keyframes(q22-study-flag-0-t-5) {
	0% {
		background-position: -8355px -497px;
	}

	100% {
		background-position: -16153px -497px;
	}
}

@include keyframes(q22-study-flag-0-t-6) {
	0% {
		background-position: -16710px -497px;
	}

	100% {
		background-position: -24508px -497px;
	}
}

@include keyframes(q22-study-flag-1-t-0) {
	0% {
		background-position: -6684px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-study-flag-2-t-0) {
	0% {
		background-position: -14482px 0;
	}

	100% {
		background-position: -7241px 0;
	}
}

@include keyframes(q22-study-flag-3-t-0) {
	0% {
		background-position: -22837px 0;
	}

	100% {
		background-position: -15039px 0;
	}
}

@include keyframes(q22-study-flag-4-t-0) {
	0% {
		background-position: -7798px -497px;
	}

	100% {
		background-position: 0 -497px;
	}
}

@include keyframes(q22-study-flag-5-t-0) {
	0% {
		background-position: -16153px -497px;
	}

	100% {
		background-position: -8355px -497px;
	}
}

@include keyframes(q22-study-flag-6-t-0) {
	0% {
		background-position: -24508px -497px;
	}

	100% {
		background-position: -16710px -497px;
	}
}

@include keyframes(q22-house-0-t-1) {
	0% {
		background-position: -4446px 0;
	}

	100% {
		background-position: -8550px 0;
	}
}

@include keyframes(q22-house-1-t-2) {
	0% {
		background-position: -9576px 0;
	}

	100% {
		background-position: -13680px 0;
	}
}

@include keyframes(q22-house-1-t-0) {
	0% {
		background-position: -8550px 0;
	}

	100% {
		background-position: -4446px 0;
	}
}

@include keyframes(q22-house-2-t-1) {
	0% {
		background-position: -13680px 0;
	}

	100% {
		background-position: -9576px 0;
	}
}

@include keyframes(q22-job-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6320px 0;
	}
}

@include keyframes(q22-job-1-t-2) {
	0% {
		background-position: -6636px 0;
	}

	100% {
		background-position: -12956px 0;
	}
}

@include keyframes(q22-job-2-t-3) {
	0% {
		background-position: -13272px 0;
	}

	100% {
		background-position: -19592px 0;
	}
}

@include keyframes(q22-job-1-t-0) {
	0% {
		background-position: -6320px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-job-2-t-1) {
	0% {
		background-position: -12956px 0;
	}

	100% {
		background-position: -6636px 0;
	}
}

@include keyframes(q22-job-3-t-2) {
	0% {
		background-position: -19592px 0;
	}

	100% {
		background-position: -13272px 0;
	}
}

@include keyframes(q22-flower-0-t-1) {
	0% {
		background-position: 441px -592px;
	}

	100% {
		background-position: -11907px -592px;
	}
}

@include keyframes(q22-flower-1-t-2) {
	0% {
		background-position: -12348px -592px;
	}

	100% {
		background-position: -21168px -592px;
	}
}

@include keyframes(q22-flower-2-t-3) {
	0% {
		background-position: -21609px -592px;
	}

	100% {
		background-position: -30429px -592px;
	}
}

@include keyframes(q22-flower-1-t-0) {
	0% {
		background-position: -11907px -592px;
	}

	100% {
		background-position: 441px -592px;
	}
}

@include keyframes(q22-flower-2-t-1) {
	0% {
		background-position: -21168px -592px;
	}

	100% {
		background-position: -12348px -592px;
	}
}

@include keyframes(q22-flower-3-t-2) {
	0% {
		background-position: -30429px -592px;
	}

	100% {
		background-position: -21609px -592px;
	}
}

@include keyframes(q22-travel-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -8204px 0;
	}
}

@include keyframes(q22-travel-1-t-2) {
	0% {
		background-position: -8790px 0;
	}

	100% {
		background-position: -14064px 0;
	}
}

@include keyframes(q22-travel-2-t-3) {
	0% {
		background-position: -14650px 0;
	}

	100% {
		background-position: -19924px 0;
	}
}

@include keyframes(q22-travel-3-t-4) {
	0% {
		background-position: 0 -294px;
	}

	100% {
		background-position: -5274px -294px;
	}
}

@include keyframes(q22-travel-4-t-5) {
	0% {
		background-position: -5860px -294px;
	}

	100% {
		background-position: -11134px -294px;
	}
}

@include keyframes(q22-travel-5-t-6) {
	0% {
		background-position: -11720px -294px;
	}

	100% {
		background-position: -16994px -294px;
	}
}

@include keyframes(q22-travel-1-t-0) {
	0% {
		background-position: -8204px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-travel-2-t-1) {
	0% {
		background-position: -14064px 0;
	}

	100% {
		background-position: -8790px 0;
	}
}

@include keyframes(q22-travel-3-t-2) {
	0% {
		background-position: -19924px 0;
	}

	100% {
		background-position: -14650px 0;
	}
}

@include keyframes(q22-travel-4-t-3) {
	0% {
		background-position: -5274px -294px;
	}

	100% {
		background-position: 0 -294px;
	}
}

@include keyframes(q22-travel-5-t-4) {
	0% {
		background-position: -11134px -294px;
	}

	100% {
		background-position: -5860px -294px;
	}
}

@include keyframes(q22-travel-6-t-5) {
	0% {
		background-position: -16994px -294px;
	}

	100% {
		background-position: -11720px -294px;
	}
}

@include keyframes(q22-flight-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -9478px 0;
	}
}

@include keyframes(q22-flight-1-t-2) {
	0% {
		background-position: -10155px 0;
	}

	100% {
		background-position: -16248px 0;
	}
}

@include keyframes(q22-flight-2-t-3) {
	0% {
		background-position: -16925px 0;
	}

	100% {
		background-position: -23018px 0;
	}
}

@include keyframes(q22-flight-3-t-4) {
	0% {
		background-position: 0 -96px;
	}

	100% {
		background-position: -6093px -96px;
	}
}

@include keyframes(q22-flight-4-t-5) {
	0% {
		background-position: -6770px -96px;
	}

	100% {
		background-position: -12863px -96px;
	}
}

@include keyframes(q22-flight-5-t-6) {
	0% {
		background-position: -13540px -96px;
	}

	100% {
		background-position: -20310px -96px;
	}
}

@include keyframes(q22-flight-1-t-0) {
	0% {
		background-position: -9478px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-flight-2-t-1) {
	0% {
		background-position: -16248px 0;
	}

	100% {
		background-position: -10155px 0;
	}
}

@include keyframes(q22-flight-3-t-2) {
	0% {
		background-position: -23018px 0;
	}

	100% {
		background-position: -16925px 0;
	}
}

@include keyframes(q22-flight-4-t-3) {
	0% {
		background-position: -6093px -96px;
	}

	100% {
		background-position: 0 -96px;
	}
}

@include keyframes(q22-flight-5-t-4) {
	0% {
		background-position: -12863px -96px;
	}

	100% {
		background-position: -6770px -96px;
	}
}

@include keyframes(q22-flight-6-t-5) {
	0% {
		background-position: -20310px -96px;
	}

	100% {
		background-position: -13540px -96px;
	}
}

@include keyframes(q22-flag-0-t-1) {
	0% {
		background-position: 543px 0;
	}

	100% {
		background-position: -4344px 0;
	}
}

@include keyframes(q22-flag-1-t-2) {
	0% {
		background-position: -4344px 0;
	}

	100% {
		background-position: -9231px 0;
	}
}

@include keyframes(q22-flag-2-t-3) {
	0% {
		background-position: -9231px 0;
	}

	100% {
		background-position: -14118px 0;
	}
}

@include keyframes(q22-flag-3-t-4) {
	0% {
		background-position: -14661px 0;
	}

	100% {
		background-position: -19005px 0;
	}
}

@include keyframes(q22-flag-4-t-5) {
	0% {
		background-position: -19005px 0;
	}

	100% {
		background-position: -23892px 0;
	}
}

@include keyframes(q22-flag-5-t-6) {
	0% {
		background-position: -24435px 0;
	}

	100% {
		background-position: -29865px 0;
	}
}

@include keyframes(q22-flag-1-t-0) {
	0% {
		background-position: -4344px 0;
	}

	100% {
		background-position: 543px 0;
	}
}

@include keyframes(q22-flag-2-t-1) {
	0% {
		background-position: -9231px 0;
	}

	100% {
		background-position: -4344px 0;
	}
}

@include keyframes(q22-flag-3-t-2) {
	0% {
		background-position: -14118px 0;
	}

	100% {
		background-position: -9231px 0;
	}
}

@include keyframes(q22-flag-4-t-3) {
	0% {
		background-position: -19005px 0;
	}

	100% {
		background-position: -14661px 0;
	}
}

@include keyframes(q22-flag-5-t-4) {
	0% {
		background-position: -23892px 0;
	}

	100% {
		background-position: -19005px 0;
	}
}

@include keyframes(q22-flag-6-t-5) {
	0% {
		background-position: -29865px 0;
	}

	100% {
		background-position: -24435px 0;
	}
}

@include keyframes(q22-marry-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6762px 0;
	}
}

@include keyframes(q22-marry-1-t-2) {
	0% {
		background-position: -7245px 0;
	}

	100% {
		background-position: -16422px 0;
	}
}

@include keyframes(q22-marry-2-t-3) {
	0% {
		background-position: -16905px 0;
	}

	100% {
		background-position: -23184px 0;
	}
}

@include keyframes(q22-marry-3-t-4) {
	0% {
		background-position: -23667px 0;
	}

	100% {
		background-position: -30912px 0;
	}
}

@include keyframes(q22-marry-1-t-0) {
	0% {
		background-position: -6762px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-marry-2-t-1) {
	0% {
		background-position: -16422px 0;
	}

	100% {
		background-position: -7245px 0;
	}
}

@include keyframes(q22-marry-3-t-2) {
	0% {
		background-position: -23184px 0;
	}

	100% {
		background-position: -16905px 0;
	}
}

@include keyframes(q22-marry-4-t-3) {
	0% {
		background-position: -30912px 0;
	}

	100% {
		background-position: -23667px 0;
	}
}

@include keyframes(q22-balloon-0-t-1) {
	0% {
		background-position: 435px 0;
	}

	100% {
		background-position: -6525px 0;
	}
}

@include keyframes(q22-balloon-1-t-2) {
	0% {
		background-position: -6960px 0;
	}

	100% {
		background-position: -13485px 0;
	}
}

@include keyframes(q22-balloon-2-t-3) {
	0% {
		background-position: -13920px 0;
	}

	100% {
		background-position: -13920px 0;
	}
}

@include keyframes(q22-balloon-3-t-4) {
	0% {
		background-position: -13920px 0;
	}

	100% {
		background-position: -20445px 0;
	}
}

@include keyframes(q22-balloon-1-t-0) {
	0% {
		background-position: -6525px 0;
	}

	100% {
		background-position: 435px 0;
	}
}

@include keyframes(q22-balloon-2-t-1) {
	0% {
		background-position: -13485px 0;
	}

	100% {
		background-position: -6960px 0;
	}
}

@include keyframes(q22-balloon-3-t-2) {
	0% {
		background-position: -13920px 0;
	}

	100% {
		background-position: -13920px 0;
	}
}

@include keyframes(q22-balloon-4-t-3) {
	0% {
		background-position: -20445px 0;
	}

	100% {
		background-position: -13920px 0;
	}
}