@include keyframes(q22-choose-buycar) {
	0% {
		background-position: -1870px 0;
	}

	100% {
		background-position: -9163px 0;
	}
}

@include keyframes(q22-drop-tree) {
	0% {
		background-position: -2646px 0;
	}

	100% {
		background-position: -10290px 0;
	}
}

@include keyframes(q22-car-0-t-1) {
	0% {
		background-position: -9724px 0;
	}

	100% {
		background-position: -16643px 0;
	}
}

@include keyframes(q22-car-1-t-2) {
	0% {
		background-position: -17952px 0;
	}

	100% {
		background-position: -19074px 0;
	}
}

@include keyframes(q22-car-2-t-3) {
	0% {
		background-position: -26180px 0;
	}

	100% {
		background-position: -27302px 0;
	}
}

@include keyframes(q22-car-3-t-4) {
	0% {
		background-position: -7215px -149px;
	}

	100% {
		background-position: -8385px -149px;
	}
}

@include keyframes(q22-house-0-t-1) {
	0% {
		background-position: -4446px 0;
	}

	100% {
		background-position: -8550px 0;
	}
}

@include keyframes(q22-house-1-t-2) {
	0% {
		background-position: -9918px 0;
	}

	100% {
		background-position: -13680px 0;
	}
}

@include keyframes(q22-house-1-t-0) {
	0% {
		background-position: -8550px 0;
	}

	100% {
		background-position: -4446px 0;
	}
}

@include keyframes(q22-house-2-t-1) {
	0% {
		background-position: -13680px 0;
	}

	100% {
		background-position: -9918px 0;
	}
}

@include keyframes(q22-study-0-t-1) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-1-t-2) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-2-t-3) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-study-3-t-4) {
	0% {
		background-position: -px 0;
	}

	100% {
		background-position: -px 0;
	}
}

@include keyframes(q22-job-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6320px 0;
	}
}

@include keyframes(q22-job-1-t-2) {
	0% {
		background-position: -6636px 0;
	}

	100% {
		background-position: -12956px 0;
	}
}

@include keyframes(q22-job-2-t-3) {
	0% {
		background-position: -13272px 0;
	}

	100% {
		background-position: -19592px 0;
	}
}

@include keyframes(q22-job-1-t-0) {
	0% {
		background-position: -6320px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-job-2-t-1) {
	0% {
		background-position: -12956px 0;
	}

	100% {
		background-position: -6636px 0;
	}
}

@include keyframes(q22-job-3-t-2) {
	0% {
		background-position: -19592px 0;
	}

	100% {
		background-position: -13272px 0;
	}
}

@include keyframes(q22-flower-0-t-1) {
	0% {
		background-position: 0 -592px;
	}

	100% {
		background-position: -6320px -592px;
	}
}

@include keyframes(q22-flower-1-t-2) {
	0% {
		background-position: -6636px -592px;
	}

	100% {
		background-position: -14220px -592px;
	}
}

@include keyframes(q22-flower-2-t-3) {
	0% {
		background-position: -14536px -592px;
	}

	100% {
		background-position: -20856px -592px;
	}
}

@include keyframes(q22-flower-1-t-0) {
	0% {
		background-position: -6320px -592px;
	}

	100% {
		background-position: 0 -592px;
	}
}

@include keyframes(q22-flower-2-t-1) {
	0% {
		background-position: -14220px -592px;
	}

	100% {
		background-position: -6636px -592px;
	}
}

@include keyframes(q22-flower-3-t-2) {
	0% {
		background-position: -20856px -592px;
	}

	100% {
		background-position: -14536px -592px;
	}
}

@include keyframes(q22-travel-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -8204px 0;
	}
}

@include keyframes(q22-travel-1-t-2) {
	0% {
		background-position: -8790px 0;
	}

	100% {
		background-position: -14064px 0;
	}
}

@include keyframes(q22-travel-2-t-3) {
	0% {
		background-position: -14650px 0;
	}

	100% {
		background-position: -19924px 0;
	}
}

@include keyframes(q22-travel-3-t-4) {
	0% {
		background-position: 0 -294px;
	}

	100% {
		background-position: -5274px -294px;
	}
}

@include keyframes(q22-travel-4-t-5) {
	0% {
		background-position: -5860px -294px;
	}

	100% {
		background-position: -11134px -294px;
	}
}

@include keyframes(q22-travel-5-t-6) {
	0% {
		background-position: -11720px -294px;
	}

	100% {
		background-position: -16994px -294px;
	}
}

@include keyframes(q22-travel-1-t-0) {
	0% {
		background-position: -8204px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-travel-2-t-1) {
	0% {
		background-position: -14064px 0;
	}

	100% {
		background-position: -8790px 0;
	}
}

@include keyframes(q22-travel-3-t-2) {
	0% {
		background-position: -19924px 0;
	}

	100% {
		background-position: -14650px 0;
	}
}

@include keyframes(q22-travel-4-t-3) {
	0% {
		background-position: -5274px -294px;
	}

	100% {
		background-position: 0 -294px;
	}
}

@include keyframes(q22-travel-5-t-4) {
	0% {
		background-position: -11134px -294px;
	}

	100% {
		background-position: -5860px -294px;
	}
}

@include keyframes(q22-travel-6-t-5) {
	0% {
		background-position: -16994px -294px;
	}

	100% {
		background-position: -11720px -294px;
	}
}

@include keyframes(q22-flight-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -9478px 0;
	}
}

@include keyframes(q22-flight-1-t-2) {
	0% {
		background-position: -10155px 0;
	}

	100% {
		background-position: -16248px 0;
	}
}

@include keyframes(q22-flight-2-t-3) {
	0% {
		background-position: -16925px 0;
	}

	100% {
		background-position: -23018px 0;
	}
}

@include keyframes(q22-flight-3-t-4) {
	0% {
		background-position: 0 -96px;
	}

	100% {
		background-position: -6093px -96px;
	}
}

@include keyframes(q22-flight-4-t-5) {
	0% {
		background-position: -6770px -96px;
	}

	100% {
		background-position: -12863px -96px;
	}
}

@include keyframes(q22-flight-5-t-6) {
	0% {
		background-position: -13540px -96px;
	}

	100% {
		background-position: -20310px -96px;
	}
}

@include keyframes(q22-flight-1-t-0) {
	0% {
		background-position: -9478px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-flight-2-t-1) {
	0% {
		background-position: -16248px 0;
	}

	100% {
		background-position: -10155px 0;
	}
}

@include keyframes(q22-flight-3-t-2) {
	0% {
		background-position: -23018px 0;
	}

	100% {
		background-position: -16925px 0;
	}
}

@include keyframes(q22-flight-4-t-3) {
	0% {
		background-position: -6093px -96px;
	}

	100% {
		background-position: 0 -96px;
	}
}

@include keyframes(q22-flight-5-t-4) {
	0% {
		background-position: -12863px -96px;
	}

	100% {
		background-position: -6770px -96px;
	}
}

@include keyframes(q22-flight-6-t-5) {
	0% {
		background-position: -20310px -96px;
	}

	100% {
		background-position: -13540px -96px;
	}
}

@include keyframes(q22-flag-0-t-1) {
	0% {
		background-position: 543px 0;
	}

	100% {
		background-position: -4344px 0;
	}
}

@include keyframes(q22-flag-1-t-2) {
	0% {
		background-position: -4344px 0;
	}

	100% {
		background-position: -9231px 0;
	}
}

@include keyframes(q22-flag-2-t-3) {
	0% {
		background-position: -9231px 0;
	}

	100% {
		background-position: -14118px 0;
	}
}

@include keyframes(q22-flag-3-t-4) {
	0% {
		background-position: -14661px 0;
	}

	100% {
		background-position: -19005px 0;
	}
}

@include keyframes(q22-flag-4-t-5) {
	0% {
		background-position: -19005px 0;
	}

	100% {
		background-position: -23892px 0;
	}
}

@include keyframes(q22-flag-5-t-6) {
	0% {
		background-position: -24435px 0;
	}

	100% {
		background-position: -29865px 0;
	}
}

@include keyframes(q22-flag-1-t-0) {
	0% {
		background-position: -4344px 0;
	}

	100% {
		background-position: 543px 0;
	}
}

@include keyframes(q22-flag-2-t-1) {
	0% {
		background-position: -9231px 0;
	}

	100% {
		background-position: -4344px 0;
	}
}

@include keyframes(q22-flag-3-t-2) {
	0% {
		background-position: -14118px 0;
	}

	100% {
		background-position: -9231px 0;
	}
}

@include keyframes(q22-flag-4-t-3) {
	0% {
		background-position: -19005px 0;
	}

	100% {
		background-position: -14661px 0;
	}
}

@include keyframes(q22-flag-5-t-4) {
	0% {
		background-position: -23892px 0;
	}

	100% {
		background-position: -19005px 0;
	}
}

@include keyframes(q22-flag-6-t-5) {
	0% {
		background-position: -29865px 0;
	}

	100% {
		background-position: -24435px 0;
	}
}

@include keyframes(q22-marry-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6762px 0;
	}
}

@include keyframes(q22-marry-1-t-2) {
	0% {
		background-position: -7245px 0;
	}

	100% {
		background-position: -16422px 0;
	}
}

@include keyframes(q22-marry-2-t-3) {
	0% {
		background-position: -16905px 0;
	}

	100% {
		background-position: -23184px 0;
	}
}

@include keyframes(q22-marry-3-t-4) {
	0% {
		background-position: -23667px 0;
	}

	100% {
		background-position: -30912px 0;
	}
}

@include keyframes(q22-marry-1-t-0) {
	0% {
		background-position: -6762px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q22-marry-2-t-1) {
	0% {
		background-position: -16422px 0;
	}

	100% {
		background-position: -7245px 0;
	}
}

@include keyframes(q22-marry-3-t-2) {
	0% {
		background-position: -23184px 0;
	}

	100% {
		background-position: -16905px 0;
	}
}

@include keyframes(q22-marry-4-t-3) {
	0% {
		background-position: -30912px 0;
	}

	100% {
		background-position: -23667px 0;
	}
}

@include keyframes(q22-balloon-0-t-1) {
	0% {
		background-position: 435px 0;
	}

	100% {
		background-position: -6525px 0;
	}
}

@include keyframes(q22-balloon-1-t-2) {
	0% {
		background-position: -6960px 0;
	}

	100% {
		background-position: -13485px 0;
	}
}

@include keyframes(q22-balloon-2-t-3) {
	0% {
		background-position: -13920px 0;
	}

	100% {
		background-position: -13920px 0;
	}
}

@include keyframes(q22-balloon-3-t-4) {
	0% {
		background-position: -13920px 0;
	}

	100% {
		background-position: -20445px 0;
	}
}

@include keyframes(q22-balloon-1-t-0) {
	0% {
		background-position: -6525px 0;
	}

	100% {
		background-position: 435px 0;
	}
}

@include keyframes(q22-balloon-2-t-1) {
	0% {
		background-position: -13485px 0;
	}

	100% {
		background-position: -6960px 0;
	}
}

@include keyframes(q22-balloon-3-t-2) {
	0% {
		background-position: -13920px 0;
	}

	100% {
		background-position: -13920px 0;
	}
}

@include keyframes(q22-balloon-4-t-3) {
	0% {
		background-position: -20445px 0;
	}

	100% {
		background-position: -13920px 0;
	}
}