@include keyframes(q4-title) {
	0%, 16.9% {
		width: 0;
	}

	17%, 33.9% {
		width: 37px;
	}

	34%, 49.9% {
		width: 70px;
	}

	50%, 66.9% {
		width: 108px;
	}

	67%, 83.9% {
		width: 146px;
	}

	84%, 99.9% {
		width: 184px;
	}

	100% {
		width: 200px;
	}
}

@include keyframes(q4-institute) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -2562px 0;
	}
}

@include keyframes(q4-institute-reverse) {
	0% {
		background-position: -2745px 0;
	}

	100% {
		background-position: -4941px 0;
	}
}

@include keyframes(q4-collage) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -3483px 0;
	}
}

@include keyframes(q4-collage-reverse) {
	0% {
		background-position: -3612px 0;
	}

	100% {
		background-position: -5160px 0;
	}
}

@include keyframes(q4-seniorHigh) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -3636px 0;
	}
}

@include keyframes(q4-seniorHigh-reverse) {
	0% {
		background-position: -3838px 0;
	}

	100% {
		background-position: -6060px 0;
	}
}

@include keyframes(q4-juniorHigh) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -2366px 0;
	}
}

@include keyframes(q4-juniorHigh-reverse) {
	0% {
		background-position: -2535px 0;
	}

	100% {
		background-position: -4732px 0;
	}
}

@include keyframes(q4-elementary) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -2508px 0;
	}
}

@include keyframes(q4-elementary-reverse) {
	0% {
		background-position: -2640px 0;
	}

	100% {
		background-position: -4224px 0;
	}
}

@include keyframes(q4-kindergarten) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -4004px 0;
	}
}

@include keyframes(q4-kindergarten-reverse) {
	0% {
		background-position: -4095px 0;
	}

	100% {
		background-position: -5187px 0;
	}
}

@include keyframes(q4-baby) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -3813px 0;
	}
}

@include keyframes(q4-baby-reverse) {
	0% {
		background-position: -3906px 0;
	}

	100% {
		background-position: -5115px 0;
	}
}

@include keyframes(q4-dog) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -1862px 0;
	}
}

@include keyframes(q4-dog-reverse) {
	0% {
		background-position: -1862px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q4-tag-1) {
	0% {
		background-position: -41px -13px;
	}

	100% {
		background-position: -365px -13px;
	}
}

@include keyframes(q4-tag-2) {
	0% {
		background-position: -41px -35px;
	}

	100% {
		background-position: -365px -35px;
	}
}

@include keyframes(q4-tag-3) {
	0% {
		background-position: -41px -57px;
	}

	100% {
		background-position: -365px -57px;
	}
}