@include keyframes(q5-title) {
	0%, 9% {
		width: 0;
	}

	9.1%, 18.1% {
		width: 36px;
	}

	18.2%, 27.2% {
		width: 59px;
	}

	27.3%, 36.3% {
		width: 95px;
	}

	36.4%, 45.4% {
		width: 126px;
	}

	45.5%, 54.5% {
		width: 153px;
	}

	54.6%, 63.6% {
		width: 181px;
	}

	63.7%, 72.7% {
		width: 220px;
	}

	72.8%, 81.8% {
		width: 256px;
	}

	81.9%, 90.9% {
		width: 293px;
	}

	91%, 99.9% {
		width: 333px;
		height: 45px;
	}

	100% {
		width: 348px;
		height: 69px;
	}
}

@include keyframes(q5-girl-young) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -7546px 0;
	}
}

@include keyframes(q5-girl-new-couple) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -8154px 0;
	}
}

@include keyframes(q5-girl-pregnant) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -6644px 0;
	}
}

@include keyframes(q5-girl-near-retired) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -10032px 0;
	}
}

@include keyframes(q5-girl-retired) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -7876px 0;
	}
}

@include keyframes(q5-boy-young) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -4998px 0;
	}
}

@include keyframes(q5-boy-new-couple) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -4998px 0;
	}
}

@include keyframes(q5-boy-pregnant) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -8976px 0;
	}
}

@include keyframes(q5-boy-near-retired) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -7412px 0;
	}
}

@include keyframes(q5-boy-retired) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -5733px 0;
	}
}

@include keyframes(q5-smoke) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -624px 0;
	}
}