@include keyframes(q8-title) {
	0%, 12.4% {
		width: 0;
	}

	12.5%, 24.9% {
		width: 24px;
	}

	25%, 37.4% {
		width: 54px;
	}

	37.5%, 49.9% {
		width: 92px;
	}

	50%, 62.4% {
		width: 114px;
	}

	62.5%, 74.9% {
		width: 153px;
	}

	75%, 87.4% {
		width: 189px;
	}

	87.5%, 99.9% {
		width: 229px;
	}

	100% {
		width: 246px;
	}
}