@include keyframes(q8-title) {
	0%, 12.4% {
		width: 0;
	}

	12.5%, 24.9% {
		width: 24px;
	}

	25%, 37.4% {
		width: 54px;
	}

	37.5%, 49.9% {
		width: 92px;
	}

	50%, 62.4% {
		width: 114px;
	}

	62.5%, 74.9% {
		width: 153px;
	}

	75%, 87.4% {
		width: 189px;
	}

	87.5%, 99.9% {
		width: 229px;
	}

	100% {
		width: 246px;
	}
}

@include keyframes(q8-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -3240px 0;
	}
}

@include keyframes(q8-1-t-0) {
	0% {
		background-position: -3240px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q8-1-t-2) {
	0% {
		background-position: -3510px 0;
	}

	100% {
		background-position: -5940px 0;
	}
}

@include keyframes(q8-2-t-1) {
	0% {
		background-position: -5940px 0;
	}

	100% {
		background-position: -3510px 0;
	}
}

@include keyframes(q8-2-t-3) {
	0% {
		background-position: -6210px 0;
	}

	100% {
		background-position: -8640px 0;
	}
}

@include keyframes(q8-3-t-2) {
	0% {
		background-position: -8640px 0;
	}

	100% {
		background-position: -6210px 0;
	}
}

@include keyframes(q8-3-t-4) {
	0% {
		background-position: -8910px 0;
	}

	100% {
		background-position: -11610px 0;
	}
}

@include keyframes(q8-4-t-3) {
	0% {
		background-position: -11610px 0;
	}

	100% {
		background-position: -8910px 0;
	}
}

@include keyframes(q8-4-t-5) {
	0% {
		background-position: -11880px 0;
	}

	100% {
		background-position: -15390px 0;
	}
}

@include keyframes(q8-5-t-4) {
	0% {
		background-position: -15390px 0;
	}

	100% {
		background-position: -11880px 0;
	}
}

@include keyframes(q8-5-t-6) {
	0% {
		background-position: -15660px 0;
	}

	100% {
		background-position: -18090px 0;
	}
}

@include keyframes(q8-6-t-5) {
	0% {
		background-position: -18090px 0;
	}

	100% {
		background-position: -15660px 0;
	}
}

@include keyframes(q8-6-t-7) {
	0% {
		background-position: -18360px 0;
	}

	100% {
		background-position: -22950px 0;
	}
}

@include keyframes(q8-7-t-6) {
	0% {
		background-position: -22950px 0;
	}

	100% {
		background-position: -18360px 0;
	}
}

@include keyframes(q8-7-t-8) {
	0% {
		background-position: -23220px 0;
	}

	100% {
		background-position: -25380px 0;
	}
}

@include keyframes(q8-8-t-7) {
	0% {
		background-position: -25380px 0;
	}

	100% {
		background-position: -23220px 0;
	}
}

@include keyframes(q8-8-t-9) {
	0% {
		background-position: -25650px 0;
	}

	100% {
		background-position: -27810px 0;
	}
}

@include keyframes(q8-9-t-8) {
	0% {
		background-position: -27810px 0;
	}

	100% {
		background-position: -25650px 0;
	}
}

@include keyframes(q8-9-t-10) {
	0% {
		background-position: -28080px 0;
	}

	100% {
		background-position: -30240px 0;
	}
}

@include keyframes(q8-10-t-9) {
	0% {
		background-position: -30240px 0;
	}

	100% {
		background-position: -28080px 0;
	}
}

@include keyframes(rotate) {
	0% {
		@include transform(rotate(0deg) scale(1));
	}

	50% {
		@include transform(rotate(180deg) scale(0.6));
	}

	100% {
		@include transform(rotate(360deg) scale(1));
	}
}