@include keyframes(q9-0-t-1) {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -1554px 0;
	}
}

@include keyframes(q9-1-t-0) {
	0% {
		background-position: -1554px 0;
	}

	100% {
		background-position: 0 0;
	}
}

@include keyframes(q9-1-t-2) {
	0% {
		background-position: -2072px 0;
	}

	100% {
		background-position: -15540px 0;
	}
}

@include keyframes(q9-2-t-1) {
	0% {
		background-position: -15540px 0;
	}

	100% {
		background-position: -2072px 0;
	}
}

@include keyframes(q9-2-t-3) {
	0% {
		background-position: -16058px 0;
	}

	100% {
		background-position: -29526px 0;
	}
}

@include keyframes(q9-3-t-2) {
	0% {
		background-position: -29526px 0;
	}

	100% {
		background-position: -16058px 0;
	}
}

@include keyframes(q9-3-t-4) {
	0% {
		background-position: -30044px 0;
	}

	100% {
		background-position: -43512px 0;
	}
}

@include keyframes(q9-4-t-3) {
	0% {
		background-position: -43512px 0;
	}

	100% {
		background-position: -30044px 0;
	}
}

@include keyframes(q9-4-t-5) {
	0% {
		background-position: -44030px 0;
	}

	100% {
		background-position: -57498px 0;
	}
}

@include keyframes(q9-5-t-4) {
	0% {
		background-position: -57498px 0;
	}

	100% {
		background-position: -44030px 0;
	}
}