<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<title>台新crm活動</title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="/Content/css/Cardholders/index.css?JS=20160216_01">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
</head>
<body>
	<header class="l-header b-clearfix">
		<h1 class="logo"><a href="javascript:;" class="link">Richart</a></h1>
		<nav class="m-nav">
			<button class="btn-menu jq-menu"><i class="m-icon icon-menu"></i><em>MENU</em></button>
			<ul class="m-nav-menu">
				<li class="list"><a href="javascript:;" class="btn-radius btn-download"><i class="m-icon icon-download"></i><em>立即賺錢</em></a></li>
				<li class="list"><a href="javascript:;" class="btn-radius">增薪不騙懶人包</a></li>
				<li class="list"><a href="javascript:;" class="btn-radius">活動辦法</a></li>
			</ul>
		</nav>
	</header>
	<div class="l-content index step-1 b-clearfix" data-step1="step-1" data-step2="step-2" data-step3="step-3" data-step4="step-4">
		<div class="half-part">
			<em class="bolling-ans">$</em>
		</div>
		<div class="half-part">
			<em class="bolling-ans">%</em>
		</div>
		<div class="filter">
			<ul class="animate-box">
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title">自己的回饋自己賺！</h2>
						<p class="desc">你的信用卡回饋，究竟能賺多少？<br>動動手指用力滑<em>挑戰更高回饋！</em><br>參加活動送現金好禮300 + 增薪不騙懶人包 + Uber免費搭！</p>
					</div>
				</li>
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title">不分通路消費<br>現金回饋0.5%無上限!！</h2>
					</div>
				</li>
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title"><em>數位通路消費回饋<b class="highlight">2.5</b>％！<br>網路、電視購物越買越賺！</em></h2>
					</div>
				</li>
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title"><em>指定帳戶繳卡費 數位通路！<br>回饋直上<b class="highlight">3.5</b>%</em></h2>
					</div>
				</li>
			</ul>
			<div class="filter-content">
				<div class="flip-counter">
					<div class="counter-box money-counter">
						<ul class="flip-card">
							<li class="card">
								<div class="card-animate case" style="transition: all 0.45s ease-in-out; transform: rotateX(-180deg);">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card"><em>1</em></li>
							<li class="card"><em>8</em></li>
							<li class="card"><em>3</em></li>
							<li class="card"><em>9</em></li>
						</ul>
					</div>
					<div class="counter-box rate-counter">
						<ul class="flip-card">
							<li class="card"><em>0</em></li>
							<li class="card"><em>5</em></li>
							<li class="card"><em>0</em></li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="btn-area">
				<li class="list">
					<em class="dialog">想要更多回饋？再滑快點！</em>
					<button class="btn-start jq-start"><i class="m-icon icon-pointer"></i><em>滑動賺回饋</em></button>
				</li>
				<li class="list">
					<em class="dialog">賺錢快手！快參加活動領取好禮！</em>
					<a class="btn-radius" href="game.html"><i class="m-icon icon-pointer"></i><em>領回饋！拿好禮！</em></a>
				</li>
			</ul>
		</div>
	</div>
	<footer class="l-footer">
		<p class="copyright">©台新國際商業銀行 Copyright Taishin International Bank. All Rights Reserved.</p>
	</footer>
</body>
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js??JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/Cardholders/factory.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/Cardholders/common.js?JS=20160216_01"></script>
</html>