<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="Shared/GlobalMeta.html" -->
	<title>Richart 數位銀行邀請體驗活動</title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../../Content/css/cardholder/index.css?JS=20160216_01">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../../Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
</head>
<body>
	<!--#include virtual="Shared/Header.html" -->
	<div class="l-content index step-1 b-clearfix" data-step1="step-1" data-step2="step-2" data-step3="step-3" data-step4="step-4">
		<div class="half-part">
			<em class="bolling-ans">$</em>
		</div>
		<div class="half-part">
			<em class="bolling-ans">%</em>
		</div>
		<div class="filter">
			<ul class="animate-box">
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title">自己的回饋自己賺！</h2>
						<p class="desc">你的信用卡回饋，究竟能賺多少？<br>動動手指用力點<em>挑戰更高回饋！</em><br>參加活動送 NT$300 元用戶禮 + 財富養大懶人包 + Uber 序號！</p>
					</div>
				</li>
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title">不分通路消費<br>現金回饋0.5%無上限!！</h2>
					</div>
				</li>
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title"><em>數位通路消費回饋<b class="highlight">2.5</b>％！<br>網路、電視購物越買越賺！</em></h2>
						<p class="desc">※含一般通路0.5$+數位通路消費加碼2%</p>
					</div>
				</li>
				<li class="animate-list">
					<div class="list">
						<h2 class="act-title"><em>指定帳戶繳卡費 數位通路！<br>回饋直上<b class="highlight">3.5</b>%</em></h2>
						<p class="desc">※1.含數位通路消費回饋2.5%+綁定指定帳戶自動轉帳扣繳信用卡費回饋1%</p>
						<p class="desc">※2.數位通路加碼2%與設定Richart帳戶自動扣繳信用卡費回饋加碼1%每月上限NT$500</p>
					</div>
				</li>
			</ul>
			<div class="filter-content">
				<div class="flip-counter">
					<div class="counter-box money-counter jq-flip-card" data-array1="00130" data-array2="01839" data-array3="45039">
						<ul class="flip-card">
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
						</ul>
					</div>
					<div class="counter-box rate-counter jq-flip-card" data-array1="050" data-array2="250" data-array3="350">
						<ul class="flip-card">
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
							<li class="card">
								<div class="card-animate case">
									<div class="bottom-half"><em>1</em></div>
									<div class="top-half"><em>0</em></div>
								</div>
								<div class="card-top case">
									<em>1</em>
								</div>
								<div class="card-bottom case">
									<em>0</em>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="btn-area">
				<li class="list">
					<em class="dialog">想要更多回饋？繼續點選！</em>
					<button class="btn-start jq-start ga_click_trace" ga_cat="c_click game" ga_event="click" ga_label="clickgame"><i class="m-icon icon-pointer"></i><em>繼續賺回饋</em></button>
				</li>
				<li class="list">
					<em class="dialog">賺錢快手！快參加活動領取好禮！</em>
					<a class="btn-radius ga_click_trace" ga_cat="c_click game" ga_event="click" ga_label="giftbutton" href="@Url.Action("Game","Cardholder")"><i class="m-icon icon-pointer"></i><em>領回饋！拿好禮！</em></a>
				</li>
			</ul>
		</div>
	</div>
	<!--#include virtual="Shared/Footer.html" -->
</body>
<!--#include virtual="Shared/GlobalScriptFt.html" -->
</html>