.m-footer {
	margin: 0 auto;
	padding: 0 22px;
	width: 1000px;
	position: relative;
	@include box-sizing(border-box);

	&:before {
		content: '';
		margin-left: -533px;
		background: image-url('footer-top.png') 0 0 no-repeat;
		display: block;
		width: 1170px;
		height: 5px;
		position: absolute;
		top: -5px;
		left: 50%;
	}

	.info-list {
		padding: 34px 0 14px 0;
		font-size: 0;
		text-align: center;

		.list {
			display: inline-block;
			font-size: 12px;
			line-height: 1.5em;

			&:first-child .link:before {
				display: none;
			}
		}

		.link {
			padding: 0 14px;
			display: block;
			position: relative;
			color: #a69da2;

			&:before {
				content: '';
				margin-top: -6px;
				background: #a69da2;
				display: block;
				width: 1px;
				height: 12px;
				position: absolute;
				top: 50%;
				left: 0;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		.copyright {
			color: #a69da2;
		}
	}
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}