<!DOCTYPE html>
<html>
<head>	
	<title>南山人壽</title>
	<link rel="stylesheet" href="/Content/css/style.css?CSS=20160420_01" />
</head>
<body>
	<div class="l-body">
		<header class="l-header"></header>
		<div class="l-main">
			<div class="girl"></div>
			<div class="boy"></div>
		</div>
		<footer class="l-footer"></footer>
	</div>
</body>
<!-- <script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/factory.js?JS=20160420_01"></script>
<script type="text/javascript" src="/Scripts/js/common.js?JS=20160420_01"></script> -->
</html>