<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<title>南山人壽</title>
	<link rel="stylesheet" href="../Scripts/plugin/ion-rangeSlider/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="../Content/css/style.css?CSS=20160420_01" />
</head>
<body>
	<div class="l-body">
		<header class="l-header">
			<h1 class="logo">
				<a href="http://www.nanshanlife.com.tw/" class="link hide-text" target="_blank">
					<em>南山人壽</em>
				</a>
			</h1>
			<div class="insurance-wrap">
				<em class="wording">你需要的保障 /</em>
				<div class="cost">
					<span class="dollar">$ <b>1,234,567,890</b></span>
				</div>
			</div>
		</header>
		<div class="l-main is-quest">
			<div class="l-content index">
				<h2 class="page-title hide-text">這是個殘酷中帶著促咪的小測驗，評估你的人生需要多少保障才足夠？</h2>
				<em class="slogan hide-text">只要6分鐘，就能護一生</em>
				<button class="btn-check b-middle jq-required">
					<em class="hide-text">個資保護聲明</em>
				</button>
				<button class="btn-start hide-text jq-start"><em>開始遊戲</em></button>
				<i class="icon-flying-bird"></i>
				<i class="icon-flying-bird reverse"></i>
			</div>
			<div class="l-content quest quest-6" data-quest="6">
				<div class="stage cut-1">
					<ul class="choice-list jq-transition" data-first="true" data-select="" data-reverse="">
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="girl">
								<em class="hide-text">女</em>
							</button>
							<div class="image-wrap girl"></div>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="boy">
								<em class="hide-text">男</em>
							</button>
							<div class="image-wrap boy"></div>
						</li>
					</ul>
					<h2 class="quest-title hide-text jq-title">
						<em>你的性別？</em>
					</h2>
				</div>
				<div class="stage cut-2">
					<ul class="choice-list jq-transition" data-first="true" data-select="" data-reverse="">
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="single">
								<em class="hide-text">單身</em>
							</button>
							<div class="image-wrap girl"></div>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="merried">
								<em class="hide-text">已婚</em>
							</button>
							<div class="image-wrap boy"></div>
						</li>
					</ul>
					<h2 class="quest-title hide-text jq-title">
						<em>你婚了嗎？</em>
					</h2>
				</div>
				<div class="stage cut-3">
					<div class="choice-list jq-transition">
						<div class="image-wrap" data-age="young"></div>
						<div class="range-slider">
							<input class="slider-picker age-slider">
						</div>
					</div>
					<h2 class="quest-title hide-text jq-title">
						<em>你的年齡？</em>
					</h2>
				</div>
				<div class="stage cut-4">
					<ul class="kids-selector">
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="baby">
							<em class="desc">學齡前(0-3歲)</em>
						</li>
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="kindergarten">
							<em class="desc">幼稚園(4-6歲)</em>
						</li>
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="elementary">
							<em class="desc">國小(7-12歲)</em>
						</li>
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="juniorHigh">
							<em class="desc">國中(13-15歲)</em>
						</li>
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="seniorHigh">
							<em class="desc">高中(16-18歲)</em>
						</li>
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="collage">
							<em class="desc">大學(19-22歲)</em>
						</li>
						<li class="list">
							<span class="tag"></span>
							<input class="slider-picker amount-slider" type="range" min="0" max="3" value="0" data-orientation="vertical" data-age="institute">
							<em class="desc">研究所以上</em>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="dinky">
								<em class="hide-text">沒有小孩</em>
							</button>
							<em class="desc">沒有小孩</em>
						</li>
					</ul>
					<h2 class="quest-title hide-text jq-title">
						<em>你有小孩嗎？</em>
					</h2>
					<div class="kids-pool">
						<ul class="institute">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="collage">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="seniorHigh">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="juniorHigh">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="elementary">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="kindergarten">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="baby">
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
							<li class="doll"></li>
						</ul>
						<ul class="dog">
							<li class="doll"></li>
						</ul>
					</div>
				</div>
				<div class="stage cut-5">
					<ul class="choice-list jq-transition">
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="young">
								<em class="hide-text">社會新鮮人</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="new-couple">
								<em class="hide-text">新婚一年內</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="pregnant">
								<em class="hide-text">懷孕中</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="near-retired">
								<em class="hide-text">計畫退休</em>
							</button>
						</li>
						<li class="list">
							<button class="btn-check jq-checkbox" data-meta="retired">
								<em class="hide-text">已退休</em>
							</button>
						</li>
					</ul>
					<div class="image-wrap"></div>
					<h2 class="quest-title hide-text jq-title">
						<em>你正處於哪個</em>
						<em>人生階段？</em>
					</h2>
				</div>
				<div class="stage cut-6">
					<div class="choice-list jq-transition">
						<div class="image-wrap" data-age=""></div>
						<div class="range-slider">
							<input class="slider-picker age-slider">
						</div>
					</div>
					<h2 class="quest-title hide-text jq-title">
						<em>不好意思，你的年收入？</em>
					</h2>
				</div>
				<ol class="step-list complete-phase-0">
					<li class="list is-complete">
						<em>基本資料</em>
					</li>
					<li class="list is-curr">
						<em>生活開銷</em>
					</li>
					<li class="list">
						<em>夢想藍圖</em>
					</li>
					<li class="list">
						<em>戰力評估</em>
					</li>
					<li class="list">
						<em>分析結果</em>
					</li>
					<li class="bg-line"></li>
					<li class="step-line"></li>
				</ol>
				<button class="btn-topic btn-prev jq-topic hide-text">
					<em>上一題</em>
				</button>
				<button class="btn-topic btn-next jq-topic hide-text">
					<em>下一題</em>
				</button>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<div class="m-footer-hd">
					<ul class="info-list">
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/privacy.html">隱私權保護聲明</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/sitemap.html">網站地圖</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/eServicePublic/publicweb/mailbox/MailBox.action" target="_blank">聯絡南山</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/public_promotion/subject/edm/layout.htm" target="_blank">南山保戶雙月刊</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/declare.html">網站使用條款</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/About/CompanyInformation/CompanyInformation/companyInformation.html">資訊公開</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/eservice/file/PPD/tax_model.pdf" target="_blank">實質課稅原則專區</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/eServicePublic/publicweb/productinfo/ProductInfo.action?method:doLaw107=x">保險法第107條說明專區</a></li>
					</ul>
				</div>
				<div class="m-footer-bd">
					<small class="copyright">Copyright © 2010 Nan Shan Life Insurance Company, Ltd. All rights reserved.</small>
					<p class="address">南山人壽總公司　台北市信義區莊敬路168號　客服中心電話：0800-020-060  <a class="link" href="http://www.nanshanlife.com.tw/Public_web/Service/file/CA/voice.pdf" target="_blank">﹝語音操作手冊﹞</a> 海外諮詢專線：886-2-8752-2111</p>
				</div>
			</div>
		</footer>
		<img class="b-lazy" src="../Content/img/checked.png" alt="">
		<img class="b-lazy" src="../Content/img/girl-door.png" alt="">
		<img class="b-lazy" src="../Content/img/boy-door.png" alt="">
		<img class="b-lazy" src="../Content/img/bg-exams.png" alt="">
		<img class="b-lazy" src="../Content/img/bg-slider.png" alt="">
		<img class="b-lazy" src="../Content/img/shared.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q2-girl.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q2-boy.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q3-girl.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q3-boy.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-institute.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-collage.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-seniorHigh.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-juniorHigh.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-elementary.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-kindergarten.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-baby.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q4-dog.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-girl-young.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-girl-new-couple.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-girl-pregnant.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-girl-near-retired.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-girl-retired.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-boy-young.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-boy-new-couple.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-boy-pregnant.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-boy-near-retired.png" alt="">
		<img class="b-lazy" src="../Content/img/ani-q5-boy-retired.png" alt="">
	</div>
</body>
<script src="../Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script src="../Scripts/plugin/lazyload/jquery.lazyload.min.js?JS=20160216_01"></script>
<script src="../Scripts/plugin/ion-rangeSlider/ion.rangeSlider.min.js?JS=20160216_01"></script>
<script src="../Scripts/plugin/rangeslider/rangeslider.min.js?JS=20160216_01"></script>
<script src="../Scripts/js/factory.js?JS=20160420_01"></script>
<script src="../Scripts/js/common.js?JS=20160420_01"></script>
</html>