<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<title>南山人壽</title>
	<link rel="stylesheet" href="/Content/css/style.css?CSS=20160420_01" />
</head>
<body>
	<div class="l-body">
		<header class="l-header">
			<h1 class="logo">
				<a href="http://www.nanshanlife.com.tw/" class="link hide-text" target="_blank">
					<em>南山人壽</em>
					<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#logo"/></svg>
				</a>
			</h1>
			<div class="insurance-wrap">
				<em class="wording">你需要的保障 /</em>
				<div class="cost">
					<span class="dollar">$ <b>1,234,567,890</b></span>
					<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#bg-cost"/></svg>
				</div>
			</div>
		</header>
		<div class="l-main is-quest">
			<div class="l-content index">
				<h2 class="page-title hide-text">這是個殘酷中帶著促咪的小測驗，評估你的人生需要多少保障才足夠？</h2>
				<em class="slogan hide-text">只要6分鐘，就能護一生</em>
				<button class="btn-check b-middle jq-required">
					<svg class="svg-icon svg-checkbox"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#checkbox-1"/></svg>
					<em class="hide-text">個資保護聲明</em>
				</button>
				<button class="btn-start hide-text jq-start"><em>開始遊戲</em></button>
				<i class="icon-flying-bird"></i>
				<i class="icon-flying-bird reverse"></i>
			</div>
			<div class="l-content quest quest-1" data-quest="1">
				<ul class="choice-list jq-transition">
					<li class="list">
						<button class="btn-check jq-checkbox" data-gender="girl">
							<svg class="svg-icon svg-checkbox"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#checkbox-1"/></svg>
							<em class="hide-text">女</em>
						</button>
						<div class="image-wrap girl"></div>
					</li>
					<li class="list">
						<button class="btn-check jq-checkbox" data-gender="boy">
							<svg class="svg-icon svg-checkbox"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#checkbox-2"/></svg>
							<em class="hide-text">男</em>
						</button>
						<div class="image-wrap boy"></div>
					</li>
				</ul>
				<h2 class="quest-title hide-text jq-title">
					<em>你的性別？</em>
				</h2>
				<ol class="step-list complete-phase-0">
					<li class="list is-complete">
						<em>基本資料</em>
						<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#bg-step1"/></svg>
					</li>
					<li class="list is-curr">
						<em>生活開銷</em>
						<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#bg-step2"/></svg>
					</li>
					<li class="list">
						<em>夢想藍圖</em>
						<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#bg-step3"/></svg>
					</li>
					<li class="list">
						<em>戰力評估</em>
						<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#bg-step4"/></svg>
					</li>
					<li class="list">
						<em>分析結果</em>
						<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#bg-step5"/></svg>
					</li>
					<li class="bg-line">
						<svg class="svg-icon svg-line"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#dashed-line"/></svg>
					</li>
					<li class="step-line">
						<div class="svg-container">
							<svg class="svg-icon svg-line"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#solid-line"/></svg>
						</div>
					</li>
				</ol>
				<button class="btn-topic btn-prev jq-topic hide-text b-cloak">
					<em>上一題</em>
					<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#btn-prev"/></svg>
				</button>
				<button class="btn-topic btn-next jq-topic hide-text">
					<em>下一題</em>
					<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#btn-next"/></svg>
				</button>
			</div>
		</div>
		<footer class="l-footer">
			<div class="m-footer">
				<div class="m-footer-hd">
					<ul class="info-list">
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/privacy.html">隱私權保護聲明</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/sitemap.html">網站地圖</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/eServicePublic/publicweb/mailbox/MailBox.action" target="_blank">聯絡南山</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/public_promotion/subject/edm/layout.htm" target="_blank">南山保戶雙月刊</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/declare.html">網站使用條款</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/Public_web/About/CompanyInformation/CompanyInformation/companyInformation.html">資訊公開</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/eservice/file/PPD/tax_model.pdf" target="_blank">實質課稅原則專區</a></li>
						<li class="list"><a class="link" href="http://www.nanshanlife.com.tw/eServicePublic/publicweb/productinfo/ProductInfo.action?method:doLaw107=x">保險法第107條說明專區</a></li>
					</ul>
				</div>
				<div class="m-footer-bd">
					<small class="copyright">Copyright © 2010 Nan Shan Life Insurance Company, Ltd. All rights reserved.</small>
					<p class="address">南山人壽總公司　台北市信義區莊敬路168號　客服中心電話：0800-020-060  <a class="link" href="http://www.nanshanlife.com.tw/Public_web/Service/file/CA/voice.pdf" target="_blank">﹝語音操作手冊﹞</a> 海外諮詢專線：886-2-8752-2111</p>
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="/Scripts/plugin/svgxuse/svgxuse.min.js?JS=20160216_01"></script>
<script src="/Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script src="/Scripts/js/factory.js?JS=20160420_01"></script>
<script src="/Scripts/js/common.js?JS=20160420_01"></script>
</html>