	<header class="l-header b-clearfix">
		<h1 class="logo"><a href="game" class="link ga_click_trace" ga_cat="" ga_event="click" ga_label="home">Richart</a></h1>
		<nav class="m-nav">
			<button class="btn-menu jq-menu ga_click_trace" ga_cat="" ga_event="click" ga_label="menu"><i class="m-icon icon-menu"></i><em>MENU</em></button>
			<ul class="m-nav-menu">
				<li class="list"><a href="/Content/doc/RichartDM.PDF" class="btn-radius btn-download ga_click_trace" ga_cat="" ga_event="click" ga_label="product"><em>產品介紹</em></a></li>
				<li class="list"><a href="javascript:;" class="btn-radius jq-lazybag ga_click_trace" ga_cat="" ga_event="click" ga_label="package">養大財富懶人包</a></li>
				<li class="list"><a href="action" class="btn-radius ga_click_trace" ga_cat="" ga_event="click" ga_label="activity">活動辦法</a></li>
			</ul>
		</nav>
	</header>