#layer {
	width: 2000px;
	height: 2000px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	@include opacity(.15);

	polygon {
		fill: #FFFFFF;
	}
}

.l-header {
	padding: 15px 0 0 15px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	.logo {
		background: image-url('shared/logo.png') 0 0 no-repeat;
		display: block;
		width: 175px;
		height: 58px;

		.link {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-indent: 200%;
			white-space: nowrap;;
		}
	}
}

.section-list > .list:first-child {
	background: #00cbdf;
	position: relative;
	overflow: hidden;
	@include box-sizing(border-box);

	+ li {
		background: image-url('shared/bg-game.png');
	}

	+ li + li {
		padding: 65px 0 48px 0;
		background: #ffd767;

		.btn-link {
			margin: 20px auto 0 auto;
			background: #00cbdf;
			display: block;
			width: 240px;
			height: 38px;
			border-radius: 19px;
			color: #fff;
			font-size: 15px;
			line-height: 38px;
			text-align: center;
			text-decoration: none;
		}
	}
}

.info-sec {
	&.main {
		position: relative;
		z-index: 1;
		@include box-sizing(border-box);

		&:after {
			content: '';
			background: image-url('Staff/dog.png') 0 0 no-repeat;
			display: block;
			position: absolute;
		}

		.main-title {
			margin-bottom: 36px;
			padding: 0 35px;
			background: #ffb03f;
			display: inline-block;
			height: 72px;
			position: relative;
			color: #fff;
			font-size: 54px;
			line-height: 72px;

			&:after {
				content: '';
				position: absolute;
				bottom: -32px;
				right: 15px;
				border-width: 16px 21px 16px 21px;
				border-color: #ffb03f #ffb03f transparent transparent;
				border-style: solid;
			}
		}

		.slogan {
			margin-bottom: 24px;
			display: block;
			color: #fff;
			font-size: 32px;
			line-height: 1.5em;
		}

		.desc {
			color: #3e454f;
			font-size: 20px;
			line-height: 34px;
		}
	}

	&.serial-info {
		position: relative;
		@include box-sizing(border-box);

		.bookmark {
			padding-top: 15px;
			background: #f27962;
			width: 96px;
			height: 124px;
			position: absolute;
			top: -8px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
			color: #fff;
			font-size: 22px;
			line-height: 36px;
			text-align: center;
			@include box-sizing(border-box);

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: -10px;
				border-color: transparent transparent #e40000 #e40000;
				border-style: solid;
				border-width: 4px 5px 4px 5px;
			}

			&:after {
				content: '';
				background: image-url('Staff/dog.png') -280px -458px no-repeat;
				display: block;
				width: 104px;
				height: 33px;
				position: absolute;
				bottom: -33px;
				left: -4px;
			}

			strong {
				display: inline-block;
				border-top: 1px solid #fff;
				font-size: 32px;
				line-height: 44px;
			}

			.icon-star {
				margin: 5px auto 0 auto;
				display: block;
				width: 0;
				height: 0;
				position: relative;
				border-right: 10px solid transparent;
				border-bottom: 7px solid #ffd84e;
				border-left: 10px solid transparent;
				@include transform(rotate(35deg));

				&:before {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					top: -5px;
					left: -6px;
					border-right: 3px solid transparent;
					border-bottom: 8px solid #ffd84e;
					border-left: 3px solid transparent;
					@include transform(rotate(-35deg));
				}

				&:after {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					top: 0;
					left: -10px;
					border-right: 10px solid transparent;
					border-bottom: 7px solid #ffd84e;
					border-left: 10px solid transparent;
					@include transform(rotate(-70deg));
				}
			}
		}

		.slogan {
			display: block;
			color: #f27962;
			font-size: 22px;
			line-height: 64px;
		}

		.ribbon {
			margin-bottom: 55px;
			position: relative;
			z-index: 0;

			.icon-dog {
				margin-top: -86px;
				background: image-url('Staff/dog.png') 0 0 no-repeat;
				background-position: 0 -458px;
				display: block;
				width: 280px;
				height: 173px;
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
			}
		}

		.sub-title {
			padding-left: 142px;
			background: #f27962;
			display: inline-block;
			height: 72px;
			position: relative;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
			color: #fff;
			font-weight: normal;
			line-height: 72px;

			&:before {
				content: '';
				display: block;
				width: 66px;
				height: 0;
				position: absolute;
				top: 22px;
				right: -62px;
				border-width: 32px 17px 32px 17px;
				border-style: solid;
				border-color: #f27962 transparent #f27962 #f27962;
				box-shadow: -4px 0 5px rgba(0, 0, 0, 0.33);
				z-index: -2;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: -14px;
				right: 0;
				border-color: #e40000 transparent transparent #e40000;
				border-width: 7px 19px 7px 19px;
				border-style: solid;
				z-index: -1;
			}
		}

		.serial-box {
			> * {
				vertical-align: middle;
			}

			.hint {
				margin-right: 30px;
				display: inline-block;
				color: #3e454f;
				font-size: 22px;
				line-height: 32px;
			}

			.serial {
				width: 420px;
				height: 90px;
				border: 1px solid #ccc;
				border-radius: 46px;
				color: #3e454f;
				font-size: 75px;
				font-weight: bold;
				line-height: 90px;
				text-align: center;
			}
		}
	}
}

.info-list {
	color: #3e454f;
	font-size: 0;
	line-height: 30px;
	text-align: center;

	.list {
		@include box-sizing(border-box);

		&:first-child {
			border: 0;
		}

		.number {
			font-size: 48px;

			strong {
				font-weight: bold;
			}
		}

		.sub-title {
			font-size: 22px;
		}
	}
}

.selection-list {
	margin: 60px auto;
	width: 840px;
	font-size: 0;
	
	.list {
		display: inline-block;
		width: 50%;
		vertical-align: top;

		&:first-child + li .func {
			&:before {
				left: 0;
				right: auto;
			}

			&:after {
				background-position: -231px 0;
			}
		}
	}

	.func {
		margin: 0 auto 180px auto;
		background: #ffd84e;
		display: block;
		position: relative;
		color: #3e454f;
		text-align: center;
		text-shadow: 0 0 1px rgba(62, 69, 79, 0.5);

		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: -20px;
			border-width: 10px 9px 10px 9px;
			border-style: solid;
			border-color: #ffb03f transparent transparent #ffb03f;
		}

		&:after {
			content: '';
			margin-left: -115px;
			background: image-url('Staff/bg-selection.png') 0 0 no-repeat;
			display: block;
			width: 231px;
			height: 164px;
			position: absolute;
			bottom: -180px;
			left: 50%;
		}
	}
}

.l-footer {
	padding: 10px 0;
	color: #616161;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}

@include respond-to(Desktops) {
	.section-list > .list:first-child {
		height: 545px;
	}

	.info-sec {
		margin: 0 auto;
		width: 1000px;

		&.main {
			padding: 154px 0 0 65px;

			&:after {
				width: 417px;
				height: 458px;
				top: 26px;
				right: 13px;
			}
		}

		&.serial-info {
			padding: 0 0 95px 108px;

			.bookmark {
				left: 1px;
			}

			.slogan {
				margin-bottom: 86px;
			}

			.sub-title {
				margin-left: 140px;
				font-size: 48px;
			}

			.serial-box {
				padding-left: 115px;
			}
		}
	}

	.info-list .list {
		width: calc((100% - 412px) / 2);

		&:first-child + li {
			width: 412px;
		}

		.number {
			line-height: 120px;

			strong {
				font-size: 120px;
			}
		}

		.desc {
			font-size: 16px;
		}
	}
}

@include respond-to(Desktops-Tablets) {
	#layer {
		margin: -1000px 0 0 -770px;
	}

	.dt-block {
		display: block;
	}

	.info-list .list {
		display: inline-block;
		border-left: 1px solid #fff;
		vertical-align: top;
	}

	.selection-list .func {
		width: 210px;
		height: 42px;
		font-size: 22px;
		line-height: 42px;
	}
}

@include respond-to(Tablets) {
	.section-list > .list:first-child {
		height: 485px;
	}

	.info-sec {
		width: 100%;

		&.main {
			padding: 120px 0 0 65px;

			&:after {
				margin: -98px 0 0 147px;
				background-size: 208px auto;
				width: 208px;
				height: 227px;
				top: 50%;
				left: 50%;
			}
		}

		&.serial-info {
			padding: 0 0 48px 0;

			.bookmark {
				left: 65px;
			}

			.slogan {
				margin-bottom: 144px;
				padding-left: 174px;
			}

			.ribbon {
				text-align: center;

				.icon-dog {
					margin-left: -365px;
					left: 50%;
				}
			}

			.sub-title {
				margin-left: 70px;
				font-size: 42px;
			}

			.serial-box {
				text-align: center;

				.hint {
					text-align: left;;
				}
			}
		}
	}

	.info-list .list {
		width: calc(100% / 3);

		.number {
			line-height: 90px;

			strong {
				font-size: 90px;
			}
		}

		.desc {
			font-size: 12px;
		}
	}

	.selection-list {
		width: 100%;
	}
}

@include respond-to(Tablets-Mobiles) {
}

@include respond-to(Mobiles) {
	#layer {
		margin: -1000px 0 0 -1000px;
	}

	.sm-block {
		display: block;
	}

	.l-header .logo {
		background-size: 88px 29px;
		width: 88px;
		height: 29px;
		position: absolute;
		top: 15px;
		left: 13px;
		z-index: 1;
	}

	.info-sec {
		&.main {
			padding: 60px 0 0 0;
	
			&:after {
				margin: 0 0 0 -84px;
				top: 120px;
			}
	
			.main-title {
				margin: 0 auto;
				display: block;
				width: 280px;
				height: 56px;
				font-size: 30px;
				line-height: 56px;
				@include box-sizing(border-box);
	
				&:after {
					bottom: -16px;
					border-width: 8px 10px 8px 10px;
					border-color: #ffb03f transparent transparent #ffb03f;
				}
			}
	
			.slogan {
				margin: 240px 0 10px 0;
				text-align: center;
			}
	
			.desc {
				margin-bottom: 20px;
				font-size: 13px;
				line-height: 2em;
				text-align: center;
			}
		}

		&.serial-info {
			padding-top: 150px;

			.bookmark {
				margin-left: -48px;
				left: 50%;
			}

			.slogan {
				margin-bottom: 0;
				padding-left: 0;
				font-size: 16px;
				line-height: 2em;
				text-align: center;
			}

			.ribbon {
				margin: 100px auto 0 auto;
				width: 220px;
				text-align: center;

				&:before, &:after {
					content: '';
					width: 44px;
					position: absolute;
					top: 20px;
					left: -40px;
					border-color: #f27962 #f27962 #f27962 transparent;
					border-style: solid;
					border-width: 22px 17px 22px 17px;
					box-shadow: 4px 0 5px rgba(0,0,0,0.33);
					z-index: -2;
				}

				&:after {
					left: auto;
					right: -40px;
					border-color: #f27962 transparent #f27962 #f27962;
					box-shadow: -4px 0 5px rgba(0,0,0,0.33);
				}

				.icon-dog {
					margin-left: -70px;
					background-position: 0 -229px;
					background-size: 208px auto;
					width: 140px;
					height: 86px;
					top: 12px;
				}
			}

			.sub-title {
				margin: 0 auto;
				padding: 0;
				display: block;
				height: 50px;
				font-size: 20px;
				line-height: 50px;

				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -14px;
					border-width: 7px 19px 7px 19px;
					border-style: solid;
					z-index: -1;
				}

				&:before {
					width: 0;
					top: auto;
					left: 0;
					right: auto;
					border-color: #e40000 #e40000 transparent transparent;
					box-shadow: none;
				}

				&:after {
					right: 0;
					border-color: #e40000 transparent transparent #e40000;
				}
			}

			.serial-box {
				margin-top: 40px;
				padding: 0 20px;

				.hint {
					margin: 0;
					font-size: 15px;
				}

				.serial {
					width: 100%;
					height: 56px;
					font-size: 36px;
					line-height: 56px;
				}
			}
		}
	}

	.section-list > .list:first-child {
		height: auto;

		+ li + li {
			padding-top: 0;
		}
	}

	.info-list .list {
		padding: 20px 0;
		display: block;
		width: auto;
		position: relative;

		&:before {
			content: '';
			margin-left: -120px;
			background: #fff;
			width: 240px;
			height: 1px;
			position: absolute;
			top: 0;
			left: 50%;
		}

		&:first-child:before {
			display: none;
		}
	}

	.selection-list {
		margin: 30px 0;
		overflow: hidden;

		.list {
			margin-bottom: 30px;
			display: block;
			width: 100%;

			&:first-child + li .func:after {
				background-position: -115px 0;
			}
		}

		.func {
			margin-bottom: 130px;
			width: 150px;
			height: 32px;
			font-size: 15px;
			line-height: 32px;

			&:before {
				bottom: -14px;
				border-width: 7px;
			}

			&:after {
				margin-left: -57px;
				background-size: 231px 82px;
				width: 115px;
				height: 82px;
				bottom: -100px;
			}
		}
	}
}

@include browsers('IE') {
}

@include browsers('IE9') {
}

@include browsers('IE8') {
	.info-sec.serial-info .bookmark .icon-star {
		background: image-url('Staff/star.png') 0 0 no-repeat;
		width: 24px;
		height: 22px;
		border: 0;

		&:before, &:after {
			display: none;
		}
	}
}