html , body  {
	font       : 12px/1.6 $font-family;
	color      : $text-major-color;
	width      : 100%;
	min-height : 100%;
	@include text-size-adjust;
}

button {
	@include button-default;
}

a {
	@include button-default;
	text-decoration : none;
	outline         : 0;

	&[href^="tel"] , &[href^="TEL"] {
		cursor : text;
	}

	&:hoevr {
		text-decoration : none;
	}
}

@include respond-to(Desktops) {
	html , body  {
		min-width : $main-min-width;
	}
}

@include respond-to(Tablets) {
	html , body  {
		min-height : 100%;
	}
}