.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	@include box-sizing(border-box);

	.logo {
		background: image-url('shared/logo.png') 0 0 no-repeat;
		display: block;
		width: 175px;
		height: 58px;

		.link {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-indent: 200%;
			white-space: nowrap;;
		}
	}

	.btn-menu {
		background: #01a5b5;
		height: 58px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		line-height: 58px;
	}

	.m-nav.is-active .icon-menu {
		background: transparent;

		&:before {
			margin-top: -1px;
			@include rotate(45deg);
		}

		&:after {
			margin-top: -1px;
			@include rotate(-45deg);
		}
	}

	.btn-radius {
		margin: 29px 9px 0 0;

		&:not(.btn-download) {
			color: #004046;
		}

		&.btn-download {
			border: 1px solid #fff;
			@include box-sizing(border-box);
		}
	}
}

.l-footer {
	background: image-url('shared/bg-game.png');
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	text-align: right;

	.copyright {
		padding: 0 18px;
		color: #3e454f;
	}
}

@include respond-to(Desktops) {
}

@include respond-to(Desktops-Tablets) {
	.l-header {
		padding-right: 14px;

		.logo {
			margin: 15px 0 0 13px;
			float: left;
		}

		.m-nav {
			float: right;
		}

		.m-nav-menu .list {
			display: inline-block;
		}

		.btn-menu {
			display: none;
	
			.icon-menu {
				margin-right: 8px;
			}
		}
	}

	.l-footer {
		height: 40px;
		line-height: 40px;
	}
}

@include respond-to(Tablets) {
}

@include respond-to(Tablets-Mobiles) {
}

@include respond-to(Mobiles) {
	.l-header {
		.btn-menu {
			margin-top: 15px;
			width: 30px;
			height: 30px;
			line-height: 30px;
	
			em {
				display: none;
			}
		}

		.logo {
			background-size: 88px 29px;
			width: 88px;
			height: 29px;
			position: absolute;
			top: 15px;
			left: 13px;
			z-index: 1;
		}

		.m-nav {
			height: 60px;
			position: relative;
			text-align: right;
			@include box-sizing(border-box);

			&:before {
				content: '';
				background: rgba(255, 255, 255, 0.7);
				display: block;
				width: 100%;
				height: 0;
				position: absolute;
				top: 0;
				@include transition(ease-in-out all 0.3s);
			}

			&.is-active {
				&:before {
					height: 100vh;
				}

				.m-nav-menu {
					max-height: 100vh;
				}
			}
		}

		.m-nav-menu {
			max-height: 0;
			overflow: hidden;
			text-align: center;
			@include transition(ease-in-out all 0.3s);
		}
	}

	.l-footer {
		padding-bottom: 10px;
		line-height: 20px;
		text-align: center;
	}
}

@include browsers('IE8') {
	.l-header .btn-radius {
		color: #004046;

		&.btn-download {
			color: #fff;
		}
	}
}