<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="title" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<title>台新crm活動</title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="../../Content/css/Staff/index.css?JS=20160216_01">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../../Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
</head>
<body>
	<header class="l-header">
		<h1 class="logo"><a href="javascript:;" class="link">Richart</a></h1>
	</header>
	<div class="l-content">
		<ul class="section-list">
			<li class="list">
				<svg version="1.1" id="layer" x="0px" y="0px" viewBox="0 0 2000 2000" enable-background="new 0 0 2000 2000">
					<polygon points="931.829,2000 1070.129,2000 1000.981,1024.485 "/>
					<polygon points="931.829,0 1000.981,975.515 1070.129,0 "/>
					<polygon points="1659.19,1756.003 1018.294,1017.313 1756.984,1658.209 "/>
					<polygon points="342.77,243.996 983.664,982.686 244.975,341.791 "/>
					<polygon points="244.976,1658.211 983.665,1017.313 342.771,1756.005 "/>
					<polygon points="1756.982,341.79 1018.294,982.685 1659.188,243.996 "/>
					<polygon points="0,1069.149 975.514,1000 0,930.85 "/>
					<polygon points="1024.486,1000 2000,1069.149 2000,930.849 "/>
					<polygon points="1433.546,1903.707 1012.92,1020.822 1553.882,1835.543 "/>
					<polygon points="568.16,95.328 988.784,978.211 447.822,163.49 "/>
					<polygon points="1946.172,1332.915 1024.451,1006.049 1983.062,1199.626 "/>
					<polygon points="55.534,666.119 977.253,992.984 18.641,799.408 "/>
					<polygon points="667.454,1944.836 994.321,1023.116 800.743,1981.728 "/>
					<polygon points="1334.25,54.198 1007.382,975.918 1200.961,17.307 "/>
					<polygon points="95.81,1432.692 978.693,1012.068 163.974,1553.028 "/>
					<polygon points="1904.189,567.307 1021.307,987.932 1836.027,446.97 "/>
					<polygon points="1189.467,1984 1007.106,1023.19 1323.178,1948.668 "/>
					<polygon points="812.239,15.034 994.597,975.843 678.526,50.366 "/>
					<polygon points="1830.357,1562.281 1022.015,1011.833 1899.922,1442.749 "/>
					<polygon points="171.348,436.753 979.688,987.201 101.782,556.285 "/>
					<polygon points="438.087,1829.021 988.536,1020.681 557.619,1898.586 "/>
					<polygon points="1563.617,170.013 1013.169,978.354 1444.084,100.447 "/>
					<polygon points="15.422,1188.382 976.231,1006.021 50.754,1322.094 "/>
					<polygon points="1984.389,811.154 1023.579,993.512 1949.057,677.441 "/>
				</svg>
				<section class="info-sec main">
					<h2 class="main-title">好員工優惠方案</h2>
					<em class="slogan">利率翻倍跳<span class="sm-block">累積財富要趁早</span></em>
					<p class="desc">活動期間成功開立Richart數位活儲帳戶，<br>並首次登入Richart  APP即可領取用戶禮300元，<br>在Richart  APP使用「任意轉」轉帳功能(不限金額)，<br>可參加Gogoro抽獎(105年4月8日抽獎)!</p>
				</section>
			</li>
			<li class="list">
				<section class="info-sec serial-info">
					<div class="bookmark">
						<em class="wording">好員工<strong>守則</strong></em>
						<i class="icon-star"></i>
					</div>
					<em class="slogan">加薪要低調、福利儘管要、好康先知道</em>
					<div class="ribbon">
						<i class="icon-dog"></i>
						<h3 class="sub-title">台新員工限時申請！</h3>
					</div>
					<div class="serial-box">
						<span class="hint">搶先體驗<b class="dt-block">你的開戶序號</b></span>
						<input class="serial" readonly="readonly" value="1030330"></input>
					</div>
				</section>
			</li>
			<li class="list">
				<section class="info-sec">
					<ul class="info-list">
						<li class="list">
							<em class="number"><strong>1</strong>%</em>
							<h3 class="sub-title">加薪存款</h3>
							<p class="desc">最高1%高利活儲天天幫你加薪</p>
						</li>
						<li class="list">
							<em class="number"><strong>3.5</strong>%</em>
							<h3 class="sub-title">存錢信用卡</h3>
							<p class="desc">Richart帳戶自動扣繳@GoGo信用卡帳單，<br>最高享3.5%現金回饋</p>
						</li>
						<li class="list">
							<em class="number"><strong>10</strong>元</em>
							<h3 class="sub-title">銅板投資</h3>
							<p class="desc">10元即可投資，精選優質熱銷組合，<br>懶人也可輕鬆投資</p>
						</li>
					</ul>
					<a class="btn-link" href="javascript:;">產品介紹</a>
				</section>
			</li>
			<li class="list">
				<section class="info-sec">
					<ul class="selection-list">
						<li class="list">
							<em class="func">iOS 下載</em>
						</li>
						<li class="list">
							<em class="func">Android 下載</em>
						</li>
					</ul>
				</section>
			</li>
		</ul>
	</div>
	<footer class="l-footer">
		<p class="copyright">©台新國際商業銀行 Copyright Taishin International Bank. All Rights Reserved.</p>
	</footer>
</body>
</html>